#footer {
  background: $blue-dark;
  padding: 30px 0;

  .section-layout {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.footer-logo {
  padding-right: 30px;
  width: 158px;
}

.footer-nav {

}

.footer-menu {
  display: flex;
  flex-wrap: wrap;

  &__item {
    margin-left: 40px;

    &:first-child {
      margin-left: 0;
    }
  }

  &__link {
    @include font-size(12);
    color: $white;
    font-weight: $medium;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
