#footer {
  @include font-size(12);
  background: $blue-dark;
  color: $white;
  line-height: 1.4;
  padding: 30px 0;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-nav {
  margin-bottom: 50px;
}

.footer-menu {
  &__item {
    margin-bottom: 20px;

    &:first-child {

    }
  }

  &__link {
    @include font-size(12);
    color: $white;
    font-weight: $medium;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer-bottom {
  padding: 50px 0 35px;
}
