#header {
  max-width: $site-width;
  overflow: hidden;
  padding: 34px 0;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: background .3s, padding .3s;
  width: 100%;
  z-index: 10;

  .toolbar-fixed & {
    top: 39px;
  }

  .toolbar-tray-open & {
    top: 79px;
  }

  .page-user-login &,
  .page-user-pass & {
    @extend .sticky;
  }

  &.sticky {
    background: $white;
    box-shadow: 0 0 10px rgba($blue, .3);
    padding: 24px 0;

    path {
      fill: $purple;
    }
  }

  .section-layout {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .site-logo {
    width: 163px;
  }
}

#block-specific-menu-items {
  display: none;
}
