#header {
  position: relative;

  &:after {
    @include absolute();
    background: $white-lilac;
    border-bottom: 1px solid rgba($logan, .2);
    content: '';
    height: 283px;
  }

  @include media-q(min, 991) {
    &:after {
      height: 530px;
    }
  }
}

.header {
  &__top {
    display: flex;
    justify-content: center;
    padding: 33px 0;

    @include media-q(min, 991) {
      padding: 60px 0;
    }
  }

  .site-logo {
    max-width: 175px;
    position: relative;
    z-index: 1;

    @include media-q(min, 991) {
      max-width: 100%;
    }
  }

  &__bottom {

  }
}
