#tabs,
#block-ample-local-tasks {
  display: flex;
  justify-content: center;
  margin: 40px 0;
  position: relative;
  z-index: 1;

  .tabs,
  > ul {
    display: flex;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba($black, .3);
    overflow: hidden;
  }

  li {
    margin-right: 2px;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    background: rgba($deep-sky-blue, .7);
    color: $white;
    display: block;
    font-weight: $bold;
    padding: 15px 25px;
    text-decoration: none;
    transition: background .3s ease;
    text-transform: uppercase;

    &:hover,
    &.active {
      background: $deep-sky-blue;
    }
  }
}
