// Fonts
$opensans: 'Open Sans', Helvetica, Arial, sans-serif;

$roboto: 'Roboto', sans-serif;

// Weights
$light: 300;
$normal: 400;
$medium: 600;
$bold: 700;

// Layout
$site-width: 1330px;
$grid-gutter: 20px;
$col-width: 65px;
$columns: 12;
$content-width: $col-width * $columns + $grid-gutter * $columns - $grid-gutter;

// Colors
$white: #fff;
$black: #000;

$seashell: #f1f1f1;

$grey-light: #c5c5c7;
$grey: #6d6e72;
$grey-dark: #333;

$pink: #d900c7;

$red: #b4284a;
$red-light: #E94B59;

$green: #01C1B5;

$blue: #3000FF;
$blue-light: #0088ff;
$blue-dark: #2C5697;

$purple: #84329B;

$yellow: #cc0;
