// Fonts
$roboto: 'Roboto', sans-serif;

$light: 300;
$normal: 400;
$medium: 600;
$bold: 700;

// Layout
$site-width: 1024px;
$grid-gutter: 20px;
$col-width: 60px;
$columns: 12;
$content-width: $col-width * $columns + $grid-gutter * $columns - $grid-gutter;

// Colors
$white: #fff;
$gray: #8A8A8A;
$black: #000;

$wild-sand: #F4F4F4;
$alto: #D8D8D8;
$silver-chalice: #a0a0a0;
$dusty-gray: #979797;
$boulder: #777;
$scorpion: #5A5A5A;
$logan: #AEA2C4;
$lilac: #bb85bb;
$camelot: #882461;
$butterfly-bush: #685194;
$moody-blue: #7E78CE;
$hopbush: #C16AA0;
$fuzzy-wuzzy-brown: #c85a5c;
$calico: #deb190;
$zombie: #e2da8d;
$sinbad: #9ad1bf;
$moss-green: #b3d79d;
$white-lilac: #ECEBF8;
