extends ../layout/main

block variables
  - var title = 'Article page'
  - var pageClass = 'not-front'

block content
  include ../modules/node-content

  section.related-section
    .section-layout
      h2.section-title Related articles

      .small-box-list
        include ../modules/small-box
        include ../modules/small-box
        include ../modules/small-box
        include ../modules/small-box
