extends ../layout/main

block variables
  - var pageTitle = 'Beauty'
  - var pageClass = 'beauty'

block content
  include ../modules/curve-banner
  include ../modules/product-list
  include ../modules/solution-links
