extends ../layout/main

block variables
  - var pageTitle = 'FAQ page'
  - var pageClass = 'node-qa-page'

block content
  section.product-view.no-image
    .section-layout
      .product-body
        h1 Freaquently asked questions
        p Queries? Questions? Searching for answers? You should find just about everything you need below. If not, please get in touch.
        div
          a(href="#").btn.btn-white Get in touch

  section.faq-container
    .section-layout
      #accordion.faq-list
        include ../modules/faq-item
