extends ../layout/main

block variables
  - var pageTitle = 'Front page'
  - var pageClass = 'front'

block content
  section.box-list.hero-section
   .left-block
      .box
        .box__image
          img(src="./img/content/hero-banner.png")

        .box__body
          div
            h3
              span Q&A Session of SOS, VOD, SCT
              img(src="./img/content/live-mark.png")

            p.description Dr. Austin Stanley
              | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est eopksio laborum. Sed ut perspiciatis unde omnis istpoe natus error sit voluptatem accusantium doloremque eopsloi laudantium, totam rem aperiam.

          .link-box
            a(href="#").btn Join now

   .right-block



  section.big-blocks-section
    .box-list.big-blocks-list
      .list-container
        each big_blocks_item in big_blocks
          - var imageUrl = big_blocks_item.imageUrl
          - var infoText = big_blocks_item.infoText
          - var title = big_blocks_item.title
          - var linkUrl = big_blocks_item.linkUrl
          - var linkText = big_blocks_item.linkText

          include ../modules/box

  section.small-blocks-section
    h2.section-title
      span In case
      |&nbsp;you missed it

    .box-list.small-blocks-list
      .list-container
        each small_blocks_item in small_blocks
          - var imageUrl = small_blocks_item.imageUrl
          - var title = small_blocks_item.title
          - var description = small_blocks_item.description
          - var linkUrl = small_blocks_item.linkUrl
          - var linkText = small_blocks_item.linkText

          include ../modules/box

  section.small-blocks-section
    h2.section-title
      span Video on demand
      | &nbsp;highlights

    .box-list.small-blocks-list.video
      .list-container
        each video_blocks_item in video_blocks
          - var playBtn = video_blocks_item.playBtn
          - var imageUrl = video_blocks_item.imageUrl
          - var title = video_blocks_item.title
          - var description = video_blocks_item.description
          - var linkUrl = video_blocks_item.linkUrl
          - var linkText = video_blocks_item.linkText

          include ../modules/box

  section.teaser-section
    h2.section-title
      span Knowledge center
      |&nbsp;hightlights

    .teaser-list
      .list-container
        - for (var i = 0; i < 2; i++) {
          each teaser in teasers
            - var title = teaser.title
            - var author = teaser.author
            - var history = teaser.history
            - var publishInfo = teaser.publishInfo

            include ../modules/teaser
        - }
