extends ../layout/main

block variables
  - var title = 'Front page'
  - var pageClass = 'front'

block content
  section.related-section
    .section-layout
      .box-list-wrapper.small
        h2.section-title.text-center Featured

        .box-list
          include ../modules/box
          include ../modules/box
          include ../modules/box
          include ../modules/box

  .section-layout
    .box-list-wrapper.long
      h2.category-title CMCD updates

      .box-list
        include ../modules/box
        include ../modules/box

    .box-list-wrapper.long
      h2.category-title CMCD updates

      .box-list
        include ../modules/box
        include ../modules/box

    .box-list-wrapper.small
      h2.category-title Integration updates

      .box-list
        include ../modules/box
        include ../modules/box
        include ../modules/box
        include ../modules/box
        include ../modules/box
