extends ../layout/main

block variables
  - var title = 'Front page'
  - var pageClass = 'front'

block content
  section.related-section
    .section-layout
      h2.section-title.text-center Featured

      .box-list.small
        include ../modules/box
        include ../modules/box
        include ../modules/box
        include ../modules/box

  .box-list.long
    .section-layout
      h2.category-title CMCD updates
      include ../modules/box
      include ../modules/box

      h2.category-title Integration updates
      include ../modules/box
      include ../modules/box
