extends ../layout/main

block variables
  - var title = 'Front page'
  - var pageClass = 'front'

block content
  section.related-section
    .section-layout
      h2.section-title.text-center Featured

      .small-box-list
        include ../modules/small-box
        include ../modules/small-box
        include ../modules/small-box
        include ../modules/small-box

  .long-box-list
    .section-layout
      h2.category-title CMCD updates
      include ../modules/long-box
      include ../modules/long-box

      h2.category-title Integration updates
      include ../modules/long-box
      include ../modules/long-box
