extends ../layout/main

block variables
  - var title = 'Index page'
  - var pageClass = 'index-page'

block content
  nav.prototype-nav
    ul.prototype-menu
      li.prototype-menu__item
        a.prototype-menu__link(href="build/front-page.html" target="_blank") Front page
      li.prototype-menu__item
        a.prototype-menu__link(href="build/article-page.html" target="_blank") Article page
