extends ../layout/main

block variables
  - var pageTitle = 'Product page'
  - var pageClass = 'node-product'

block content
  section.product__section
    .o-wrap--max-width-content
      .top-section
        h1.c-product-listing__heading.o-heading.o-heading--size-2 16-HOUR COMFORT

        .c-product-teaser--type-fill-dailies-total
          .product__image.c-product-teaser__frame
            h5.product__recipe Daily
            img(src="../img/content/Dt1_30_pack_shot_-_left_1024x1024.png" alt="")

        .product__teaser
          .product__body
            .product__desc
              .wysiwyg-content
                h4 The science behind
                p Each pair has been specially designed to keep 100% water at the surface of the lens,
                  sup 1
                  |&nbsp;creating a layer of comfort that lets you focus on their things

              .wysiwyg-content
                h4 Everyday benefits
                p With the highest breathability among daily lense, these contacts feel like nothing on youy eye.
                  sup 2
                  |&nbsp;USE THEM ALL DAY, THEN THROW THEM AWAY.

            .product__link
              a.c-signup-steps__link.e-button.c-button(href="#") Visit brand website

      .related-product-list
        .c-product-teaser--type-fill-dailies-total
          .product__image.c-product-teaser__frame
            h5.product__recipe Daily
            img(src="../img/content/Dt1_30_pack_shot_-_left_1024x1024.png" alt="")

        .c-product-teaser--type-fill-air-optix-hydra-glyde
          .product__image.c-product-teaser__frame.blue
            h5.product__recipe Monthly
            img(src="../img/content/Dt1_30_pack_shot_-_left_1024x1024.png" alt="")

        .c-product-teaser--type-fill-dailies
          .product__image.c-product-teaser__frame.green
            h5.product__recipe Daily
            img(src="../img/content/Dt1_30_pack_shot_-_left_1024x1024.png" alt="")

        .c-product-teaser--type-fill-air-optix-colors
          .product__image.c-product-teaser__frame.black
            h5.product__recipe Daily
            img(src="../img/content/Dt1_30_pack_shot_-_left_1024x1024.png" alt="")

        .c-product-teaser--type-fill-air-optix-night-day
          .product__image.c-product-teaser__frame.orange
            h5.product__recipe Daily
            img(src="../img/content/Dt1_30_pack_shot_-_left_1024x1024.png" alt="")
