extends ../layout/main

block variables
  - var pageTitle = '404'
  - var pageClass = 'exception-status-404'

block content
  section.product-view.no-image
    .section-layout
      .product-body
        h1 PAGE NOT FOUND
        p This page has not been found...

  section.text-paragraph.block-404
    .section-layout
      .wysiwyg-content
        p We can't seem to find the page or file you've requested. Perhaps you selected a link that's out of date or typed in the address incorrectly.
        ul
          li If you typed in the address, please check the spelling and try again.
          li If you followed a link, please contact Customer Service so we can fix the mistake.
        p Call &nbsp;
          a(href="#") 1-800-862-5266
          |&nbsp; or &nbsp;
          a(href="#") Contact Us

