extends ../layout/main

block variables
  - var title = 'Search page'
  - var pageClass = 'not-front'

block content
  .section-layout
    .layout-switcher
      .line.active
      .puzzles

  .section-layout
    .search
      include ../modules/search-form-with-filters

  .search-results
    .section-layout
      .box-list-wrapper.long
        .box-list
          include ../modules/box
          include ../modules/box
          include ../modules/box
          include ../modules/box
