extends ../layout/main

block variables
  - var title = 'Search page'
  - var pageClass = 'not-front'

block content
  .section-layout
    .layout-switcher
      .line.active
      .puzzles

  .search
    .section-layout
      include ../modules/search-form-with-filters

      .search-results
        .box-list-wrapper.long
          .box-list
            include ../modules/box
            include ../modules/box
            include ../modules/box
            include ../modules/box
