//------------------------------------------------------------------------------
//- PEOPLE CONTENT
-
  var people = [{
    title: 'Another dimension',
    avatar: 'avatar-1',
    bgImage: 'bg-image-4',
    bgColor: '#2E5489',
    linkUrl: '#'
  },
  {
    title: 'Unleash your inner chef',
    avatar: 'avatar-2',
    bgImage: 'bg-image-4',
    bgColor: '#6F3E84',
    linkUrl: ''
  },
  {
    title: "It's spontaneous shopping spree time",
    avatar: 'avatar-3',
    bgImage: 'bg-image-4',
    bgColor: '#CC822F',
    linkUrl: '#'
  },
  {
    title: 'Specs off, shades on',
    avatar: 'avatar-4',
    bgImage: 'bg-image-4',
    bgColor: '#5E639F',
    linkUrl: ''
  },
  {
    title: 'Is it raining? perfect',
    avatar: 'avatar-5',
    bgImage: 'bg-image-4',
    bgColor: '#65BDA8',
    linkUrl: '#'
  },
  {
    title: 'Unleash your inner chef',
    avatar: 'avatar-2',
    bgImage: 'bg-image-4',
    bgColor: '#6F3E84',
    linkUrl: ''
  },
  {
    title: "It's spontaneous shopping spree time",
    avatar: 'avatar-3',
    bgImage: 'bg-image-4',
    bgColor: '#CC822F',
    linkUrl: '#'
  },
  {
    title: 'Specs off, shades on',
    avatar: 'avatar-4',
    bgImage: 'bg-image-4',
    bgColor: '#5E639F',
    linkUrl: ''
  },
  {
    title: 'Unleash your inner chef',
    avatar: 'avatar-2',
    bgImage: 'bg-image-4',
    bgColor: '#6F3E84',
    linkUrl: ''
  },
  {
    title: "It's spontaneous shopping spree time",
    avatar: 'avatar-3',
    bgImage: 'bg-image-4',
    bgColor: '#CC822F',
    linkUrl: '#'
  }];
