#footer {
  background-image: $gradient-dusk-blue;
  color: $white;
  line-height: 1.5;
  padding: 25px 0;

  .section-layout {
    display: flex;
    flex-wrap: wrap;
  }

  .section-col {
    flex: 1;
    border-right: 1px solid #091d3e;
    padding: 40px 32px 50px;

    &:first-child {
      padding-left: 20px;
    }

    &:last-child {
      border: none;
      padding-right: 20px;
    }
  }

  .footer-logo {
    margin-bottom: 24px;
  }

  h2 {
    margin-bottom: 16px;
  }

  .footer-menu {
    line-height: 1.38;

    &__item {
      margin-bottom: 16px;
    }

    &__link {
      color: $white;
    }
  }

  .btn-arrow {
    display: block;
    margin-top: 24px;
  }

  .small-text {
    @include font-size(14);
    line-height: 1.43;

    p {
      margin-bottom: 1.43em;
    }
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
