#footer {
  background-image: $gradient-dusk-blue-h;
  color: $white;
  line-height: 1.5;
  padding: 35px 0;
  text-align: center;

  @include media-q(min, 768) {
    background-image: $gradient-dusk-blue;
    padding: 25px 0;
    text-align: left;
  }

  .section-layout {
    padding: 0;

    @include media-q(min, 768) {
      display: flex;
      flex-wrap: wrap;
      padding: 0 $grid-margin;
    }
  }

  .section-col {
    border-bottom: 2px solid #091d3e;
    padding: 32px 40px;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border: none;
      padding-bottom: 0;
    }

    @include media-q(min, 768) {
      flex: 1;
      border-right: 1px solid #091d3e;
      padding: 40px 32px 50px;

      &:first-child {
        padding-left: 20px;
      }

      &:last-child {
        border: none;
        padding-right: 20px;
      }
    }
  }

  .footer-logo {
    margin-bottom: 24px;
  }

  h2 {
    margin-bottom: 16px;
  }

  .footer-menu {
    line-height: 1.38;

    &__item {
      margin-bottom: 16px;
    }

    &__link {
      color: $white;
    }
  }

  .btn-arrow {
    display: block;
    margin-top: 24px;
  }

  .small-text {
    @include font-size(14);
    line-height: 1.43;

    p {
      margin-bottom: 1.43em;
    }
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
