.disclaimer {
  @include font-size(10);
  line-height: normal;
  padding: 8px 55px;
  text-align: center;

  @include media-q(min, 768) {
    padding: 8px 0;
    text-align: right;
  }

  p {
    margin: 0;
  }
}

#header {
  background-image: $gradient-blue;
  box-shadow: 0 2px 8px 1px rgba($black, .17);
  color: $white;
  min-height: 195px;
  padding-top: 24px;
  position: relative;

  @include media-q(min, 768) {
    min-height: 0;
    padding: 30px 0 50px;
  }

  .header-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;

    @include media-q(min, 768) {
      @include font-size(15);
      font-family: $avenirMedium;
      font-weight: 500;
      line-height: 1.33;
      margin-bottom: 40px;
    }
  }

  .main-menu-wrapper {
    background: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    height: 100vh;
    max-height: calc(100vh - 110px);
    left: 0;
    top: 70px;
    position: absolute;
    transform: translateX(100%);
    transition: transform .3s ease-out;
    width: 100%;
    z-index: 10;

    .ios & {
      padding-bottom: 120px;
    }

    @include media-q(min, 768) {
      background: none;
      flex-direction: row;
      flex-grow: 1;
      flex-wrap: wrap;
      height: auto;
      justify-content: space-between;
      overflow-y: visible;
      position: static;
      transform: none;
      transition: none;

      .ios & {
        padding-bottom: 0;
      }
    }
  }

  .user-menu-wrapper {
    @include media-q(min, 768) {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
    }

    .notification {
      display: none;

      @include media-q(min, 768) {
        display: block;
      }
    }
  }

  .site-logo {
    @include media-q(min, 768) {
      align-items: center;
      display: flex;
      margin-right: 32px;
    }

    svg {
      display: block;
    }
  }

  .mobile-block {
    align-items: center;
    display: flex;

    @include media-q(min, 768) {
      display: none;
    }
  }

  .notification {
    background: url(../img/general/notification@2x.png) center no-repeat;
    background-size: contain;
    height: 100%;
    margin-right: 24px;
    width: 40px;
  }

  .user-menu {
    margin-top: 1.5rem;

    @include media-q(min, 768) {
      display: flex;
      flex-wrap: wrap;
      margin-top: 0;
    }

    &__item {
      background: $gradient-blue-button;
      border-radius: 22px;
      margin: 0 1.25rem 1rem;
      padding: 1px;

      &:hover {
        box-shadow: 0 6px 10px 0 rgba(72, 90, 137, .15);
        transform: scale(1.02);
      }

      @include media-q(min, 768) {
        background: none;
        border-radius: 0;
        margin: 0 16px 0 0;
        padding: 0;

        &:hover {
          box-shadow: none;
          transform: none;
        }
      }

      &:first-child:not(:only-child) {
        .user-menu__link {
          @include media-q(min, 768) {
            background: none;
            border: 1px solid $white;
            color: $white;
          }
        }
      }

      &:last-child {
        @include media-q(min, 768) {
          margin-right: 0;
        }

        .user-menu__link {
          @include media-q(min, 768) {
            background: $white;
            box-shadow: 0 4px 8px rgba(72, 90, 137, .15);
            color: $dusk-blue;
            padding-left: 22px;
            padding-right: 22px;
          }
        }
      }
    }

    &__link {
      background: $white;
      border: 1px solid transparent;
      border-radius: 22px;
      display: block;
      color: $dusk-blue;
      line-height: 1.33;
      padding: .5625rem 3rem .5625rem 1.5rem;
      position: relative;
      text-align: left;
      text-decoration: none;
      vertical-align: top;

      &:after {
        background: url(../img/svg/arrow-icon.svg) center no-repeat;
        content: '';
        height: 16px;
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
      }

      &:hover {
        background: none;
      }

      @include media-q(min, 768) {
        border-radius: 16px;
        min-height: 0;
        padding: 6px 8px;
        text-align: center;

        &:after {
          content: none !important;
        }

        &:hover {
          transform: scale(1.02);
        }
      }
    }

    .user-login {
      padding-left: 22px;
      padding-right: 22px;
    }
  }

  .page-title {
    margin-bottom: 8px;

    @include media-q(min, 768) {
      margin-bottom: 15px;
    }
  }

  .haeder-content {
    @include media-q(min, 768) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .section {
      &__left {
        padding-bottom: 20px;

        @include media-q(min, 768) {
          @include flex-basis(66%);
          padding-bottom: 0q;
          padding-right: 20px;
        }
      }

      &__right {
        @include media-q(min, 768) {
          @include flex-basis(33%);
          align-items: flex-end;
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }

  .head-logo {
    background-image: $gradient-blue;
    padding: 15px 0;
    text-align: center;
    transform: translateX(-16px);
    width: 100vw;

    @include media-q(min, 768) {
      background: none;
      margin: 0;
      padding: 0;
      transform: none;
      text-align: left;
      width: auto;
    }
  }

  &.expanded-menu {
    .main-menu-wrapper {
      transform: translateX(0);
    }
  }
}
