.disclaimer {
  @include font-size(10);
  line-height: normal;
  padding: 8px 50px;
  text-align: center;

  @include media-q(min, 768) {
    padding: 8px 0;
    text-align: right;
  }

  p {
    margin: 0;
  }
}

#header {
  background-image: $gradient-blue;
  box-shadow: 0 2px 8px 1px rgba($black, .17);
  color: $white;
  padding-top: 24px;

  @include media-q(min, 768) {
    padding: 30px 0 85px;
  }

  .header-nav {
    margin-bottom: 28px;

    @include media-q(min, 768) {
      @include font-size(15);
      display: flex;
      font-family: $avenirMedium;
      font-weight: 500;
      flex-wrap: wrap;
      justify-content: space-between;
      line-height: 1.33;
      margin-bottom: 40px;
    }

    .section {
      &__left {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      &__right {
        display: none;

        @include media-q(min, 768) {
          display: flex;
          flex-wrap: wrap;
        }
      }
    }
  }

  .main-nav-wrapper {
    display: flex;

    .notification {
      @include media-q(min, 768) {
        display: none;
      }
    }
  }

  .site-logo {
    align-items: center;
    display: flex;
    margin-right: 32px;
  }

  .notification {
    align-items: flex-end;
    display: flex;
    margin-right: 24px;
    position: relative;

    .icon {
      // TEMPORARY STYLES
      border: 1px solid $white;
      height: 22px;
      margin-right: 10px;
      width: 18px;
    }

    .amount {
      @include font-size(14);
      align-items: center;
      background: $white;
      border-radius: 50%;
      color: #ff5e5e;
      display: flex;
      font-family: $avenirMedium;
      font-weight: $medium;
      justify-content: center;
      height: 18px;
      line-height: 1.43;
      position: absolute;
      top: 0;
      right: 0;
      width: 18px;
    }
  }

  .user-menu {
    display: flex;
    flex-wrap: wrap;

    &__item {
      margin-right: 16px;

      &:first-child:not(:only-child) {
        .user-menu__link {
          @extend .btn-white-outline;
        }
      }

      &:last-child {
        margin-right: 0;

        .user-menu__link {
          @extend .btn-white;
        }
      }
    }

    &__link {
      @extend .btn;
    }

    .user-login {
      padding-left: 22px;
      padding-right: 22px;
    }
  }

  .page-title {
    margin-bottom: 8px;

    @include media-q(min, 768) {
      margin-bottom: 15px;
    }
  }

  .haeder-content {
    @include media-q(min, 768) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .section {
      &__left {
        padding-bottom: 20px;

        @include media-q(min, 768) {
          @include flex-basis(66%);
          padding-bottom: 0q;
          padding-right: 20px;
        }
      }

      &__right {
        @include media-q(min, 768) {
          @include flex-basis(33%);
          align-items: flex-end;
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }

  .head-logo {
    background-image: $gradient-blue;
    padding: 15px 0;
    text-align: center;
    transform: translateX(-16px);
    width: 100vw;

    @include media-q(min, 768) {
      background: none;
      margin: 0;
      padding: 0;
      transform: none;
      text-align: left;
      width: auto;
    }
  }
}
