#header {
  background-image: $gradient-blue;
  box-shadow: 0 2px 8px 1px rgba($black, .17);
  color: $white;
  padding: 30px 0 85px;

  .header-nav {
    @include font-size(15);
    display: flex;
    font-family: $avenirMedium;
    font-weight: 500;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 1.33;
    margin-bottom: 40px;

    .section {
      &__left {
        display: flex;
        flex-wrap: wrap;
      }

      &__right {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }

  .site-logo {
    align-items: center;
    display: flex;
    margin-right: 32px;
  }

  .user-menu {
    display: flex;
    flex-wrap: wrap;

    &__item {
      margin-right: 16px;

      &:first-child:not(:only-child) {
        .user-menu__link {
          @extend .btn-white-outline;
        }
      }

      &:last-child {
        margin-right: 0;

        .user-menu__link {
          @extend .btn-white;
        }
      }
    }

    &__link {
      @extend .btn;
    }
  }

  .page-title {
    margin-bottom: 15px;
  }

  .haeder-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .section {
      &__left {
        @include flex-basis(66%);
        padding-right: 20px;
      }

      &__right {
        @include flex-basis(33%);
        align-items: flex-end;
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  .head-logo {
    padding-top: 20px;
  }
}
