.cart {
  &:not(.product):hover {
    transform: scale(1.01);
  }

  &__content {
    background: #f9f9f9;
    border-radius: 4px;
    box-shadow: 0 2px 7px rgba($black, .17);
    display: flex;
    overflow: hidden;
    position: relative;

    @include media-q(min, 768) {
      min-height: 190px;
    }
  }

  &__body {
    border-left: 4px solid #6979f8;
    padding: 24px 16px;
    width: 100%;

    @include media-q(min, 768) {
      padding: 16px;
    }
  }

  &__link {
    @include absolute();
  }

  .generic-name {
    @include font-size(16);
    color: $dusk-blue;
    font-family: $avenirBold;
    font-weight: $bold;
    margin-bottom: 4px;
    text-transform: uppercase;
  }

  .brand-name {
    @include font-size(14);
    color: $dusk-blue;
    font-family: $avenirRegular;
    font-weight: $normal;
    margin-bottom: 8px;
  }

  .updates {
    @include font-size(12);
    margin-bottom: 20px;
    min-height: 17px;
    text-decoration: underline;
    position: relative;

    &:hover {
      text-decoration: none;
    }

    @include media-q(min, 768) {
      margin-bottom: 16px;
    }
  }

  .products {
    @include font-size(12);
    display: flex;
    flex-wrap: wrap;
    font-family: $avenirMedium;

    &__item {
      border-radius: 12px;
      margin-right: 8px;
      padding: 3px 15px 3px 5px;

      &:before {
        background-image: url(../img/svg/sprite.svg);
        background-repeat: no-repeat;
        background-size: 70px;
        content: '';
        display: inline-block;
        height: 14px;
        margin: 1px 4px 0 0;
        vertical-align: top;
        width: 14px;
      }
    }
  }

  .status {
    &--in {
      background: #caf1cd;
      color: #133e00;

      &:before {
        background-position: -28px -28px
      }
    }

    &--low {
      background: #f7e9c4;
      color: #684700;

      &:before {
        background-position: -28px -56px
      }
    }

    &--out {
      background: #f4c7c6;
      color: #7f0303;

      &:before {
        background-position: -28px -83px
      }
    }
  }
}

.product {
  &.status {
    &--in {
      .cart__body {
        border-color: #3e7406;
      }

      .status-icon {
        &:before {
          background-position: -32px -32px;
        }
      }
    }

    &--low {
      .cart__body {
        border-color: #f5b403;
      }

      .status-icon {
        &:before {
          background-position: -32px -63px;
        }
      }
    }

    &--out {
      .cart__body {
        border-color: #a60d0d;
      }

      .status-icon {
        &:before {
          background-position: -32px -95px;
        }
      }
    }
  }

  .status-icon {
    @include font-size(12);
    color: #717171;
    font-family: $avenirDemiBold;
    position: absolute;
    top: 16px;
    right: 32px;
    text-align: center;

    &:before {
      background-image: url(../img/svg/sprite.svg);
      background-repeat: no-repeat;
      background-size: 80px;
      content: '';
      display: block;
      height: 16px;
      margin-bottom: 4px;
      width: 16px;
    }
  }

  .brand-name {
    margin-bottom: 16px;
  }

  .products {
    margin-bottom: 16px;
  }

  .details {
    @include font-size(14);
    color: #0f75d4;
    cursor: pointer;
    margin-top: 16px;
    position: relative;
    text-decoration: underline;

    &__content {
      //display: none;
      background-image: linear-gradient(to right, #c9ccce 90%, rgba($white,0) 0%);
      background-position: top;
      background-size: 30px 1px;
      background-repeat: repeat-x;
      color: $dusk-blue;
      font-family: $avenirMedium;
      line-height: 1.94;
    }
  }

  .recieve-updates {
    @include font-size(14);
    align-items: center;
    display: flex;
    color: $dusk-blue;
    line-height: 1.43;
    margin-bottom: 16px;
    padding-top: 16px;
    text-decoration: underline;

    &:before {
      background: $white url(../img/general/bell-plus.png) center no-repeat;
      box-shadow: 0 2px 7px rgba($black, .17);
      border-radius: 50%;
      content: '';
      display: inline-block;
      height: 30px;
      margin-right: 8px;
      vertical-align: top;
      width: 30px;
    }
  }

  .info-list {
    margin: 16px 0;
  }

  .summary,
  .patient-info {
    color: $dusk-blue;
  }
}
