.main-menu {
  @include media-q(min, 768) {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    border-bottom: 1px solid #e5e5e5;

    @include media-q(min, 768) {
      border: none;
      margin-right: 32px;
    }
  }

  &__link {
    color: $dusk-blue;
    display: block;
    padding: 1rem 1.25rem;
    transition: .2s ease-in-out;

    &:hover {
      box-shadow: 0 6px 10px rgba(72, 90, 137, .15);
      transform: scale(1.02);
    }

    @include media-q(min, 768) {
      border-bottom: 2px solid transparent;
      color: $white;
      padding: 9px 0;
      text-decoration: none;
      transition: border-color .3s ease;

      &:hover {
        border-color: $white;
        box-shadow: none;
        transform: none;
      }
    }
  }

  .is-active {
    @include media-q(min, 768) {
      border-color: $white;
    }
  }
}
