.main-nav {
  display: none;

  @include media-q(min, 768) {
    display: block;
  }
}

.main-menu {
  display: flex;
  flex-wrap: wrap;

  &__item {
    margin-right: 32px;
  }

  &__link {
    border-bottom: 2px solid transparent;
    color: $white;
    display: block;
    padding: 9px 0;
    text-decoration: none;
    transition: border-color .3s ease;

    &:hover {
      border-color: $white;
    }
  }

  .is-active {
    border-color: $white;
  }
}
