.c-my-alcon-hero__splash-image {
  max-width: none;
}

.o-wrap--max-width-xlarge {
  width: 100%;
}

.node-patient-page {
  .c-my-alcon-hero__foreground {
    align-items: flex-end;

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 100vh;
      padding-bottom: 160px;

      @include media-q(max, 768) {
        padding-top: 25vh;
        padding-bottom: 200px;
      }
    }

    .c-my-alcon-hero__card-wrap {
      width: 100%;
    }

    @include media-q(min, 1025) {
      &-content {
        display: block;
        min-height: 0;
        padding-bottom: 10px;
      }

      .c-my-alcon-hero__heading {
        @include font-size(60);
        font-weight: 100;
        line-height: 1;
        margin-bottom: 120px;
        max-width: 800px;
      }

      .c-my-alcon-hero__card-wrap {
        width: auto;
      }
    }
  }

  .c-my-alcon-hero__foreground-content {
    @media screen and (max-width: 768px) and (max-height: 600px) {
      padding-top: 120px;
    }
  }
}

.c-scroll-indicator {
  @media screen and (max-height: 480px) {
    display: none;
  }

  .node-hcp-page & {
    @media screen and (max-height: 740px) {
      bottom: 270px;
    }
  }

  .node-hcp-page & {
    @media screen and (max-height: 640px) {
      bottom: 240px;
    }
  }

  .node-hcp-page.mobile & {
    @media screen and (max-height: 840px) {
      bottom: 30%;
    }
  }

  .node-hcp-page.toolbar-fixed.mobile & {
    @media screen and (max-height: 840px) {
      bottom: 33%;
    }
  }

  .node-hcp-page.toolbar-tray-open.mobile & {
    @media screen and (max-height: 840px) {
      bottom: 27%;
    }
  }
}

.c-category-pillar {
  &:after {
    content: none;
  }

  &.c-category-pillar--sticky {
    @include media-q(min, 769) {
      &:hover {
        .c-category-pillar__container {
          .active {
            &.c-category-pillar__item-container {
              transform: scale(1.075);

              &:hover {
                transform: scale(1.15);
              }
            }
          }
        }

        .c-category-pillar__item {
          &:hover {
            &:before {
              background-color: rgba($black, .4);
            }
          }
        }
      }
    }

    .firefox & {
      .c-category-pillar__item {
        min-height: inherit;
      }
    }
  }

  @include media-q(max, 768) {
    .c-category-pillar__container {
      &.slick-initialized {
        padding: 0;
      }

      .slick-list {
        padding: 0 15vw;

        .c-category-pillar__item-container {
          &:last-child {
            padding-right: 0;
          }
        }

        .c-category-pillar__item {
          min-height: 23.125rem;
        }
      }

      .slick-dots {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 5px;

        li {
          background: $pale-grey;
          border-radius: 50%;
          height: 10px;
          margin: 5px;
          width: 10px;
        }

        .slick-active {
          background: $cool-grey;
        }

        button {
          text-indent: -9999px;
        }
      }

      .c-category-pillar__item-container {
        &:last-child {
          box-sizing: content-box;
        }
      }

      .c-category-pillar__item {
        overflow: hidden;
      }
    }
  }

  .c-category-pillar__item {
    &.left_top {
      background-position: 75% 25%;
    }

    &.center_top {
      background-position: 50% 25%;
    }

    &.right_top {
      background-position: 25% 25%;
    }

    &.left_center {
      background-position: 75% 50%;
    }

    &.center_center {
      background-position: 50% 50%;
    }

    &.right_center {
      background-position: 25% 50%;
    }

    &.left_bottom {
      background-position: 75% 75%;
    }

    &.center_bottom {
      background-position: 50% 75%;
    }

    &.right_bottom {
      background-position: 25% 75%;
    }
  }
}

#main {
  .paragraph-solutions-links {
    &.c-circlenav-section--inview {
      .c-cn-heading {
        @include media-q(min, 1024) {
          transform: translateY(-22vh) scale(1.25);
        }
      }
    }

    .c-cn-heading {
      .beauty & {
        font-weight: $extrabold;
        text-transform: none;
        z-index: 10;
      }
    }
  }
}

.paragraph-solutions-links {
  @include media-q(min, 769) {
    .c-category-pillar__container {
      overflow: hidden;

      &:hover {
        .c-category-pillar__item-container {
          box-shadow: 0 0 70px rgba($black, .8);
          transition: flex .4s ease-in-out, box-shadow .4s ease-in-out .4s;

          &:hover {
            transition: flex .4s ease-in-out, box-shadow .4s ease-in-out;
            flex: 2;
            z-index: 6;
          }

          .beauty & {
            box-shadow: none;
            transition: flex .4s ease-in-out;
          }
        }
      }
    }

    .c-category-pillar__item-container {
      overflow: visible;
      position: relative;
      transition: flex .4s ease-in-out, box-shadow .4s ease-in-out;

      $itemsCount: 5;

      @for $i from 1 through $itemsCount {
        &:nth-child(#{$i}) {
          z-index: $itemsCount - $i;
        }
      }
    }

    .c-category-pillar__item {
      overflow: hidden;

      &:hover {
        transition: transform 1s ease .4s;
      }

      &:before {
        background-color: rgba($black, .3);
      }
    }
  }

  .beauty & {
    .c-category-pillar__container {
      &:hover {
        .c-category-pillar__item-container {
          box-shadow: none;
          transition: flex .4s ease-in-out;
        }
      }
    }

    .c-category-pillar__item {
      &:before {
        background: rgba($warm-blue, .5);
      }
    }
  }
}

.empty-text {
  text-align: center;
}

.ie {
  .c-signup-steps {
    height: 100%;
  }

  .c-learn-more-deck__link-content-wrap {
    &:after {
      content: '';
      display: block;
      min-height: calc(15rem - 40px);
      font-size: 0;
    }
  }

  .c-product-teaser__frame {
    flex-direction: row;

    > a {
      flex-direction: row;
    }
  }

  .c-category-pillar__background-video {
    left: 50%;
    transform: translateX(-50%);
    width: auto;
  }
}

.c-learn-more-deck__links-group {
  @include media-q(max, 540) {
    padding-left: 0;

    &.center-items {
      justify-content: center;
    }

    &.arrow-hint {
      &:after {
        content: '';
        position: absolute;
        right: 5px;
        bottom: 40%;
        width: 20px;
        height: 20px;
        background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB2aWV3Qm94PSIwIDAgMjUgMjUiIHhtbDpzcGFjZT0icHJlc2VydmUiPgoJPHBhdGggZD0iTTIwLjUsMTEuNmwtNy02LjlsMS4zLTEuM2w5LjIsOS4xbC05LjIsOS4xbC0xLjMtMS4zbDYuOC02LjdIMXYtMS45SDIwLjV6IiBmaWxsPSIjZmZmZmZmIiAvPgo8L3N2Zz4K');
        background-repeat: no-repeat;
        animation: bounce-left .5s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
        z-index: 10;
      }
    }

    .c-learn-more-deck__link {
      max-width: 33.333vw;
    }

    .c-learn-more-deck__link-heading {
      @include font-size(11);
      line-height: 1.4;
      word-break: break-word;
      word-wrap: break-word;
    }
  }
}

.c-circlenav-section--viewport-height {
  > .o-grid {
    width: 100%;
  }
}

.c-my-alcon-hero__background {
  .mobile-image {
    @include absolute();
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include media-q(min, 1024) {
      display: none;
    }

    ~ .c-my-alcon-hero__background-image {
      display: none;

      @include media-q(min, 1024) {
        display: block;
      }
    }
  }
}

.c-video-deck__content-wrap {
  max-width: 85%;

  @include media-q(min, 1024) {
    max-width: 840px;
  }
}



#main {
  > .c-video-deck {
    @media screen and (min-width: 1025px) and (max-height: 860px) {
      padding: 2.5rem 0;
    }

    .c-video-deck__video-wrap {
      @media screen and (min-width: 1025px) and (max-height: 860px) {
        margin-left: auto;
        margin-right: auto;
        max-width: 90vh;
      }
    }
  }
}

.border {
  border: 1px solid $white;
  padding: 0 3px;
}

.c-category-hero__text-grid-column {
  &:only-child {
    padding: 0;
    text-align: center;
    width: 100%;
  }
}

.node-article {
  .c-category-hero__content-wrap {
    max-width: 850px;

    @include media-q(min, 1024) {
      padding-top: 17.5rem;
    }
  }

  .c-my-alcon-hero__background-image {
    &.center_center {
      @include media-q(min, 1280) {
        object-position: 50% 28% !important;
      }
    }

    &.right_center {
      @include media-q(min, 1024) {
        object-position: 100% 15% !important;
      }
    }
  }
}

.c-homepage-hero__option-background,
.c-my-alcon-hero__background {
  *::-webkit-media-controls-panel {
    display: none!important;
    -webkit-appearance: none;
  }

  /* Old shadow dom for play button */

  *::-webkit-media-controls-play-button {
    display: none!important;
    -webkit-appearance: none;
  }

  /* New shadow dom for play button */

  /* This one works! */

  *::-webkit-media-controls-start-playback-button {
    display: none!important;
    -webkit-appearance: none;
  }
}

// Fix popup for mobile
.c-popup--my-alcon {
  .c-popup__wrap {
    max-height: 90vh;
    overflow-y: auto;

    &:before {
      content: none;
    }
  }
}

@include media-q(max, 1024) {
  .o-grid__item {
    &.c-popup__item--last {
      border-top: 1px solid #e6e6e6;
      border-left: none;
      padding: 1.25rem 0 0;
      margin-top: 1.25rem;
    }
  }
}

// IE EDGE fixes
.edge {
  .c-my-alcon-hero__background-video {
    bottom: 0;
    right: 0;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    width: auto;
  }

  .c-homepage-hero__video {
    height: auto;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translateX(-50%);
    width: auto;
  }
}
