#user-login,
#user-login-form,
#user-pass,
#user-pass-reset {
  background: $white;
  box-shadow: 0 10px 30px rgba($warm-blue, .3);
  border: 1px solid rgba($warm-blue, .1);
  border-radius: 40px;
  color: $black;
  margin: 250px auto 50px;
  max-width: 90%;
  padding: 20px;
  position: relative;
  z-index: 1;

  @include media-q(min, 680) {
    padding: 40px;
    max-width: 620px;
  }

  .form-item {
    margin-bottom: 30px;
  }

  .form-text {
    border: 1px solid $warm-blue;
    border-radius: 40px;
    padding: 10px 15px;
    width: 100%;

    @include media-q(min, 680) {
      padding: 19px 20px;
    }
  }

  label {
    text-transform: uppercase;
  }

  label,
  .description {
    margin-left: 15px;
  }

  .form-submit {
    background: $warm-blue;
    border-radius: 40px;
    box-shadow: 0 0.625rem 2rem 0 rgba($black, .3);
    color: $white;
    font-weight: $bold;
    padding: 18px 44px;
    text-transform: uppercase;
  }
}

.form-item {
  label {
    color: $body-text;
    display: inline-block;
  }

  .form-text {
    margin-bottom: 5px;
  }

  .description {
    @include font-size(14);
  }
}

.form-text {
  border-radius: 24px;
  box-shadow: 0 4px 8px rgba(72, 90, 137, .15);
  background-color: $white;
  color: #717171;
  padding: 15px;
}

select {
  @include font-size(12);
  background: $white url(../img/general/select-arrow.png) center right no-repeat;
  border: 1px solid $pale-grey;
  border-radius: 20px;
  box-shadow: 0 1px 5px rgba($black, 0.1);
  padding: 12px 35px 12px 15px;
}

.chosen-container {
  width: 100% !important;

  .chosen-choices {
    @extend select;
    background-image: url(../img/general/filter-arrow.png);
    padding: 1px 40px 1px 4px;

    li.search-choice {
      background: $white;
      border: 1px solid $pale-grey;
      border-radius: 16px;
      padding: 8px 30px 8px 10px;

      .search-choice-close {
        @include same(9px, right, top);
        @include same(11px, height, width);
        background: url(../img/general/chosen-close-icon.png) center top no-repeat;

        &:hover {
          background-position: center bottom;
        }
      }
    }
  }
}

.form-radio {
  @extend %element-invisible;

  + label {
    @include font-size(14);
    color: $body-text;
    display: block;
    padding-left: 22px;
    position: relative;

    &:before,
    &:after {
      border-radius: 50%;
      content: '';
      position: absolute;
    }

    &:before {
      @include same(14px, height, width);
      border: 1px solid #686868;
      left: 0;
      top: 2px;
    }

    &:after {
      @include same(8px, height, width);
      background: transparent;
      left: 3px;
      top: 5px;
      transition: background .3s ease;
    }
  }

  &:hover {
    + label {
      &:after {
        background: $cool-grey;
      }
    }
  }

  &:checked {
    + label {
      color: #0f75d4;

      &:after {
        background-image: radial-gradient(circle at 98% 0, #71ecff, #0062cd);
      }
    }
  }
}

.form-actions {
  text-align: center;
}

.form-submit {
  //@extend .btn;
  cursor: pointer;
}

// Janrain markets
.markets-switcher {
  .login-header {
    background: $orangey-red;
    padding: 35px 48px 10px;
  }

  h2 {
    color: $white;
    font-weight: $normal;
    margin: 0;
  }

  .login-contrent {
    color: $cool-grey;
    padding: 40px 48px;
  }

  .description {
    margin-bottom: 28px;
  }

  .markets-select {
    margin-bottom: 35px;
  }

  .footer-description {
    margin-bottom: 15px;
  }
}

// Search form
.search-form {
  .content-container & {
    margin-top: -25px;
    position: relative;
    z-index: 1;
  }

  .form-text {
    background: $white url(../img/svg/search-icon.svg) 15px -32px no-repeat;
    margin-bottom: 32px;
    padding-left: 40px;
    transition: none;
    width: 100%;

    @include media-q(min, 768) {
      background-position: 20px 14px;
      padding-left: 53px;
    }
  }

  .cart-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 42px;
  }

  .form-radios {
    display: flex;
    flex-wrap: wrap;

    .form-item {
      align-self: center;

      &:not(:last-child) {
        margin-right: 32px;
      }
    }
  }

  .status {
    @include font-size(14);
    background: $white;
    color: #aeafb2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 1.43;
    padding: 0 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    @include media-q(min, 768) {
      background: none;
      justify-content: flex-start;
      padding: 0;
      position: static;
      width: auto;
    }

    &__item {
      cursor: pointer;
      padding: 20px 10px 15px;
      position: relative;
      text-align: center;

      @include media-q(min, 768) {
        padding: 0;

        &:not(:last-child) {
          margin-right: 32px;
        }
      }

      &:before {
        background-image: url(../img/svg/sprite.svg);
        background-repeat: no-repeat;
        background-size: 80px;
        content: '';
        display: inline-block;
        height: 16px;
        vertical-align: top;
        width: 16px;

        @include media-q(min, 768) {
          background-size: auto;
          height: 20px;
          margin-right: 6px;
          width: 20px;
        }
      }

      span {
        display: block;

        @include media-q(min, 768) {
          display: inline-block;
          margin-top: 1px;
          vertical-align: top;
        }
      }
    }

    .all {
      &:before {
        background: url(../img/general/remove-red-eye-material@2x.png) 0 -21px no-repeat;
        background-size: 20px;
        width: 20px;

        @include media-q(min, 768) {
          background-position: 0 -25px;
          background-size: 24px;
          width: 24px;
        }
      }

      &.active {
        color: #0f75d4;

        &:before {
          background-position: 0 1px;

          @include media-q(min, 768) {
            background-position: 0 2px;
          }
        }
      }
    }

    .in {
      &:before {
        background-position: 0 -32px;

        @include media-q(min, 768) {
          background-position: 0 -40px;
        }
      }

      &.active {
        color: #133e00;

        &:before {
          background-position: -32px -32px;

          @include media-q(min, 768) {
            background-position: -40px -40px;
          }
        }
      }
    }

    .low {
      &:before {
        background-position: 0 -63px;

        @include media-q(min, 768) {
          background-position: 0 -80px;
        }
      }

      &.active {
        color: #684700;

        &:before {
          background-position: -32px -63px;

          @include media-q(min, 768) {
            background-position: -40px -80px;
          }
        }
      }
    }

    .out {
      &:before {
        background-position: 0 -95px;

        @include media-q(min, 768) {
          background-position: 0 -120px;
        }
      }

      &.active {
        color: #7f0303;

        &:before {
          background-position: -32px -95px;

          @include media-q(min, 768) {
            background-position: -40px -120px;
          }
        }
      }
    }

    .emergency {
      &:before {
        background-position: 0 -126px;

        @include media-q(min, 768) {
          background-position: 0 -160px;
        }
      }

      &.active {
        color: #0f75d4;
      }
    }

    .active {
      font-family: $avenirMedium;
      font-weight: $medium;
    }
  }
}

// Search results
.search-results {

}

// Janrain modal fix
#janrainModalOverlay + #janrainModal {
  z-index: 99999 !important;
}
