extends ../layout/main

block variables
  - var pageTitle = 'Front page'
  - var pageClass = 'front'
  -
    var headContent = {
      title: 'Welcome Dr. Connors',
      summary: 'SMART Hub aims to support you in caring for your patients by providing key information on Pfizer medicines and enabling access to real-time stock information.',
      headLogo: './img/content/default-thumbnail-265x65.jpg'
    };

block content

