extends ../layout/main

block variables
  - var pageTitle = 'Notification page'
  - var pageClass = 'notification-page'
  -
    var headContent = {
      title: 'Notifications',
      summary: '',
      headLogo: ''
    };

block content
  .section-layout
    include ../modules/search-form

    .cart-list
      include ../modules/notify-card
      include ../modules/notify-card

    include ../modules/get-in-touch
