extends ../layout/main

block variables
  - var pageTitle = 'Stock checker'
  - var pageClass = 'stock-checker'
  -
    var headContent = {
      title: 'Stock Status',
      summary: 'Updated 6 hours ago',
      headLogo: ''
    };

block content
  .section-layout
    include ../modules/search-form-with-filters

    .cart-list
      .letter A
      include ../modules/cart
      include ../modules/cart
      include ../modules/cart
      include ../modules/cart
      include ../modules/cart
      include ../modules/cart

      .letter B
      include ../modules/cart
      include ../modules/cart

    include ../modules/supply-info
    include ../modules/get-in-touch
