include ../mixins
block variables

doctype html
html(lang="ru-RU")
  head
    meta(charset="utf-8")
    title #{title}
    meta(http-equiv='X-UA-Compatible', content="IE = edge")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="keywords" content="")

    link(rel="stylesheet" type='text/css' href="css/screen.css")

  body(class=pageClass)
    main.main-wrapper
      include ../modules/header

      //include ../modules/editor-tabs
      //include ../modules/login-form

      .content-container
        block content

    include ../modules/footer

    script(src="https://code.jquery.com/jquery-1.10.2.min.js")
    script(src="js/libs.min.js")
    script(src="js/jquery.resizeAction.js")
    script(src="js/main.js")

    // External fonts
    script(src="https://docs.gcs.digitalpfizer.com/fonts/fs_albert_pro_web/font_FSAlbert.js")
