include ../mixins
block variables

doctype html
html(lang="ru-RU")
  head
    meta(charset="utf-8")
    title #{title}
    <!--[if IE]>
    meta(http-equiv='X-UA-Compatible', content="IE = edge")
    <![endif]-->
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="keywords" content="")

    link(rel="stylesheet" type='text/css' href="css/screen.css")

  body(class=pageClass)
    .main-wrapper(style="background-color: pink;")
      include ../modules/header

      include ../modules/top-banner
      include ../paragraphs/paragraph-copy-with-image--vertical--one-col

      section.paragraph.paragraph__copy-with-image.horizontal.two-cols.gray-bg
        .paragraph__copy-with-image--container.section-layout
          .paragraph__copy-with-image--content.paragraph__layout
            .paragraph__copy--body
              h2.paragraph__title Service
              h1 Orientierung und Unterstützung für Ihre Patientinnenalltag.
              p Ihre Zeit ist kostbar.
              p &nbsp;
              p
                img(src='img/content/hilfe-fur-mich.png')
              p
                a(class='btn purple' href='#') ihre individuelle hilfe

            .paragraph__image--wrapper
              img(src='img/content/woman1.png')

      section.paragraph.paragraph__copy-with-image.horizontal.two-cols.pink-border
        .paragraph__copy-with-image--container.section-layout
          .paragraph__copy-with-image--content.paragraph__layout
            .paragraph__copy--body
              h2.paragraph__title Service
              h1 Erhalten Sie schnell Antworten auf Ihre wichtigsten Fragen.
              p Ihre Zeit ist kostbar.
              p &nbsp;
              p
                img(src='img/content/me.png')
              p
                a(class='btn purple' href='#') Antworten erhalten

            .paragraph__copy--body
              .icons.icons-list__container
                ul.icons-list
                  li.icons-list__item
                    a(href="#" class="icons-list__link")
                      .icons-list__image
                        img(src='img/svg/diagnose.svg')
                      span.icons-list__label Diagnose
                  li.icons-list__item
                    a(href="#" class="icons-list__link")
                      .icons-list__image
                        img(src='img/svg/gefuhle.svg')
                      span.icons-list__label GEFÜHLE
                  li.icons-list__item
                    a(href="#" class="icons-list__link")
                      .icons-list__image
                        img(src='img/svg/beziehungen.svg')
                      span.icons-list__label BEZIEHUNGEN
                  li.icons-list__item
                    a(href="#" class="icons-list__link")
                      .icons-list__image
                        img(src='img/svg/apple.svg')
                      span.icons-list__label THERAPIE
                  li.icons-list__item
                    a(href="#" class="icons-list__link")
                      .icons-list__image
                        img(src='img/svg/behandlung.svg')
                      span.icons-list__label BEHANDLUNG
                  li.icons-list__item
                    a(href="#" class="icons-list__link")
                      .icons-list__image
                        img(src='img/svg/checkbox.svg')
                      span.icons-list__label ARBEIT

              p Sie werden viele Fragen zu Ihrer Krankheit haben. Finden Sie kompetente Expertenantworten auf „Es geht um mich!“

      section.paragraph.paragraph__copy-with-image.horizontal.two-cols.pink-bg
        .paragraph__copy-with-image--container.section-layout
          .paragraph__copy-with-image--content.paragraph__layout
            .paragraph__copy--body
              h2.paragraph__title Mobile app
              h1 Ein geschützter Ort für Sie, Ihre Angehörigen und Ihre Gefühle
              p EmotionSpace bietet Ihnen einen geschützten Ort, um Ihre Gefühle festzuhalten und auf Wunsch mit Angehörigen zu teilen. Zudem erhalten Sie wertvolle Tipps zum Ihre Stimmung positiv zu beeinflussen.
              p
                a(class='btn white' href='#') erfahren sie mehr

            .paragraph__mobile-app
              .paragraph__mobile-app--links
                a(href="#" class="app-store")
                a(href="#" class="google-play")

              .paragraph__mobile-app--image
                img(src='img/content/phone.png')


    include ../modules/footer

    script(src="https://code.jquery.com/jquery-1.10.2.min.js")
    //script(src="js/libs.min.js")
    script(src="js/jquery.resizeAction.js")
    script(src="js/main.js")
