.box {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 320px;

  &__content {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 25px 0;
    position: relative;
    z-index: 1;
  }

  h2 {
    @include font-size(30);
    color: $white;
    line-height: 1.17;
    margin-bottom: 0;
    text-transform: uppercase;
  }
}
