.box {
  &__link {
    @include absolute();
  }

  h4,
  p {
    margin-bottom: 20px;
    transition: color .3s ease;
  }

  .post-info {
    @include font-size(13);
    background: url(../img/general/calendar-icon.png) left top no-repeat;
    color: $dusty-gray;
    margin-bottom: 8px;
    padding-left: 20px;
  }

  .tags-list {
    @include font-size(13);
    background-position: left center;
    background-size: 13px;
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
    z-index: 1;
  }

  .read-more {
    display: flex;
    justify-content: flex-end;

    a {
      @include links($blue, $blue);
      background: url(../img/general/link-arrow-blue.png) 97% center no-repeat;
      cursor: pointer;
      padding-right: 23px;
      transition: background-position .3s ease;
      position: relative;
      z-index: 1;

      &:hover {
        background-position: 100% center;
      }
    }
  }
}

.small-box {
  background: $mischka;
  border-radius: 20px;
  box-shadow: 0 6px 10px rgba($black, .1);
  overflow: hidden;
  max-width: 400px;
  position: relative;

  &:hover {
    .small-box__image {
      img {
        transform: scale(1.1);
      }
    }

    h4 {
      color: $blue;
    }
  }

  .share-article {
    @include same(57px, height, width);
    @include same(0, right, top);
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    z-index: 1;

    &:before,
    &:after {
      @include same(150%, height, width);
      @include same(0, left, top);
      content: '';
      position: absolute;
    }

    &:after {
      background: url(../img/general/share-icon-cornored.png) left top no-repeat;
    }

    &:before {
      background: $blue;
      transform: rotate(45deg) translate(-25%, -50%);
    }

    &:hover {
      &:after {
        background-position: left -63px;
      }

      &:before {
        background: $white;
      }
    }
  }

  &__image {
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;

    img {
      transition: transform .3s ease;
    }
  }

  &__body {
    background: $white;
    padding: 20px 20px 20px 25px;
  }
}
