.ie11 {
  .c-cookie__accept {
    flex: none !important;
  }
}

.btn {
  @include font-size(16);
  border-radius: 30px;
  color: $black-21;
  display: inline-block;
  font-weight: $bold;
  line-height: 1.4;
  padding: 19px 35px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;

  &.gold {
    background: $gradient-gold;
  }

  &.lens {
    &:after {
      background: url(../img/general/lens.png) center no-repeat;
      content: '';
      display: block;
      height: 150px;
      position: absolute;
      left: calc(100% - 35px);
      top: 50%;
      transform: translateY(-50%);
      width: 145px;
    }
  }
}
