.tags-container {
  border-top: 1px solid $lavender-gray;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 90px;
  padding: 45px 0 70px;

  .share-article {
    align-items: center;
    background: url(../img/general/share-icon.png) left center no-repeat;
    color: $dove-gray;
    cursor: pointer;
    display: flex;
    height: 28px;
    padding-left: 45px;
    transition: color .3s ease;

    &:hover {
      color: $blue;
    }
  }
}

.tags-list {
  background: url(../img/general/tags-icon.png) left 3px no-repeat;
  display: flex;
  flex-wrap: wrap;
  padding-left: 25px;

  &__item {
    margin-right: 4px;

    &:after {
      color: $dusty-gray;
      content: ', ';
    }

    &:last-child {
      &:after {
        content: none;
      }
    }
  }

  &__link {
    @include links($blue, $blue);
    border-bottom: 1px solid $blue;
    transition: border-color .3s ease;

    &.active {
      border-color: $pink;
      color: $pink;
    }

    &:hover {
      border-color: transparent;
    }
  }
}

.small-box-list {
  display: flex;

  .box {
    margin: 0 10px;
  }
}
