.main-nav {
  max-height: 100%;
  margin-top: 20px;
  overflow-y: auto;

  @include media-q(min, 1024) {
    margin-top: 0;
    overflow-y: visible;
    padding: 0;
  }
}

.main-menu {
  margin-top: 0;
  padding-bottom: 40px;
  text-align: center;

  @media screen and (min-height: 420px) {
    margin-top: 80px;
  }

  @include media-q(min, 1024) {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-bottom: 0;
    text-align: left;
  }

  &__item {
    margin: 0 15px 30px;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity .2s ease-out, transform .2s ease-out;

    .active-menu & {
      opacity: 1;
      transform: translateY(0);

      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          transition-delay: calc(.5s + .1 * #{$i}s);
        }
      }
    }

    @include media-q(min, 1024) {
      margin: 0 14px;
      opacity: 1;
      transform: translateY(0);
      transition: none;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__link {
    @include font-size(24);
    color: $white;
    font-weight: $medium;
    text-decoration: none;
    transition: color .2s ease-out;

    @include media-q(min, 1024) {
      @include font-size(15);
      font-weight: $bold;
    }

    .sticky & {
      @include media-q(min, 1024) {
        color: $purple;
      }
    }

    &:hover {
      text-decoration: none;
    }

    &.is-active {

    }

    &.try-now {
      @include font-size(18);
      background: $white;
      box-shadow: 0 10px 30px rgba($blue, .5);
      border-radius: 40px;
      color: $purple;
      display: inline-block;
      margin-top: 15px;
      overflow: hidden;
      padding: 16px 18px 16px 28px;
      position: relative;
      transition: box-shadow .6s ease;
      vertical-align: top;

      &:after {
        background-image: $gradient;
        content: '';
        opacity: 0;
        padding-top: 150%;
        position: absolute;
        top: 0;
        left: -5%;
        right: -5%;
        bottom: 0;
        transform: translateY(-50%) rotate(0deg);
        transition: transform .6s, opacity .6s;
        will-change: transform;
        z-index: 1;
      }

      @include media-q(min, 375) {
        @include font-size(20);
      }

      @include media-q(min, 1024) {
        @include font-size(15);
        margin-top: 0;
        padding: 10px 18px 10px 22px;
      }

      &:hover {
        box-shadow: 0 10px 30px -8px rgba($blue, .5);

        &:after {
          opacity: .25;
        }
      }

      &:active {
        box-shadow: 0 10px 30px -20px rgba($blue, .5);

        &:after {
          opacity: .25;
        }
      }

      sup {
        font-size: 10px;

        @include media-q(min, 1024) {
          font-size: 7px;
        }
      }
    }

    sup {
      font-size: 11px;

      @include media-q(min, 1024) {
        font-size: 7px;
      }
    }
  }
}
