.main-nav {
  @include same(25px, right, top);
  background: $wild-sand;
  border-top-right-radius: 25px;
  max-width: 280px;
  opacity: 0;
  visibility: hidden;
  padding: 60px 40px 30px;
  position: absolute;
  transition: .3s ease;
  z-index: 5;

  .active-menu & {
    opacity: 1;
    visibility: visible;
  }

  @include media-q(min, 991) {
    background: none;
    border-radius: 0;
    max-width: 100%;
    opacity: 1;
    visibility: visible;
    padding: 0 0 40px;
    position: static;
    transform: none;
  }
}

.main-menu {
  @include media-q(min, 991) {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
  }

  &__item {
    border-bottom: 1px solid rgba($boulder, .3);

    @include media-q(min, 991) {
      border-bottom: none;
      border-right: 2px solid $butterfly-bush;
    }

    &:last-child {
      border: none;

      .main-menu__link {
        padding-bottom: 0;
      }
    }
  }

  &__link {
    @include font-size(16);
    color: $scorpion;
    display: block;
    font-weight: $bold;
    line-height: 1.2;
    padding: 25px 0;
    text-transform: uppercase;
    text-decoration: none;

    .not-front & {
      color: $scorpion;

      @include media-q(min, 991) {
        color: $white;
      }
    }

    body:not(.mobile) & {
      &:hover {
        color: $gray;
      }
    }

    .not-front:not(.mobile) & {
      &:hover {
        color: $butterfly-bush;
      }
    }

    @include media-q(min, 991) {
      @include font-size(14);
      margin: 0 18px;
      padding: 0;
    }
  }
}
