.node-container {
  margin-top: 100px;
}

.top-image {
  margin-bottom: 60px;
}

.related-section {
  background: $gallery;
  box-shadow: inset 0 0 20px rgba($black, 0.2);
  padding: 90px 0 100px;

  .front & {
    padding: 60px 0 80px;
  }

  .section-title {
    @include font-size(28);
    border-bottom: 1px solid $lavender-gray;
    font-family: $fsAlbertExtraBold;
    margin-bottom: 45px;
    padding-bottom: 20px;
  }
}

.category-title {
  @include font-size(32);
  margin: 95px 0 15px;

  .small & {
    border-bottom: 1px solid $lavender-gray;
    margin: 65px 0 45px;
    padding-bottom: 15px;
  }
}
