.paragraph {
  &__copy-with-image {
    .paragraph__image--wrapper {
      position: relative;
      z-index: 1;

      img {
        border-radius: 10px;
      }
    }
  }

  &__copy-with-image--container {

  }

  &__copy-with-image--content {

  }

  .overlap-box {
    background: $white;
    border-radius: 10px;
    color: $butterfly-bush;
    margin: -40px auto 0;
    padding: 20px 25px;
    position: relative;
    width: 87%;
    z-index: 1;

    @include media-q(min, 768) {
      margin-top: -70px;
      padding: 25px 20px;
      width: 75%;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  &__mobile-app {
    display: flex;
    justify-content: space-between;
    margin-top: -35px;
    padding-left: 30px;
    position: relative;
    top: 60px;

    &:after {
      background: $camelot;
      content: '';
      height: 130px;
      position: absolute;
      left: -25px;
      top: 50%;
      transform: translateY(-50%);
      width: 100vw;
    }

    @include media-q(min, 768) {
      margin-top: 0;
      padding-left: 60px;
      top: 0;

      &:after {
        height: 216px;
        left: 0;
        width: 50vw;
      }
    }
  }

  &__mobile-app--links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;

    .app-store {
      background: url(../img/content/app-store.png) center no-repeat;
      background-size: cover;
    }

    .google-play {
      background: url(../img/content/google-play.png) center no-repeat;
      background-size: cover;
    }

    a {
      height: 42px;
      margin: 4px 0;
      width: 127px;

      @include media-q(min, 768) {
        height: 52px;
        width: 158px;
      }
    }
  }

  &__mobile-app--image {
    position: relative;
    z-index: 1;

    @include media-q(min, 768) {
      right: -40px;
    }
  }
}
