.paragraph {
  &__copy-with-image {
    .paragraph__image--wrapper {
      img {
        border-radius: 10px;
      }
    }
  }

  &__copy-with-image--container {

  }

  &__copy-with-image--content {

  }

  .overlap-box {
    background: $white;
    border-radius: 10px;
    color: $butterfly-bush;
    margin: -40px auto 0;
    padding: 20px 25px;
    position: relative;
    width: 87%;
    z-index: 1;

    @include media-q(min, 768) {
      margin-top: -70px;
      padding: 25px 20px;
      width: 75%;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}
