.paragraph {
  text-align: center;

  &.one-col {
    .paragraph__layout {
      @include same(auto, margin-left, margin-right);
      max-width: 620px;
    }

    .paragraph__copy--body {
      margin-bottom: 30px;

      @include media-q(min, 768) {
        margin-bottom: 40px;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }

    h1 {
      margin-bottom: 20px;
    }
  }

  &.two-cols {
    .paragraph__layout {
      @include media-q(min, 768) {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
      }
    }

    @include media-q(min, 768) {
      .paragraph__copy--body,
      .paragraph__links--body,
      .paragraph__image--wrapper,
      .paragraph__slider--wrapper,
      .paragraph__mobile-app {
        @include flex-basis(50%);
      }
    }

    .paragraph__copy--body {
      padding: 0;

      @include media-q(min, 768) {
        padding: 0 20px;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }

    .paragraph__slider--wrapper {
      margin-top: 30px;

      @include media-q(min, 768) {
        margin-top: 0;
      }
    }
  }

  &__links--body {
    h1 {
      margin-bottom: 30px;

      @include media-q(min, 768) {
        margin-bottom: 40px;
      }
    }
  }

  &.purple-bg {
    background-color: $butterfly-bush;
    color: $white;
    padding: 40px 0;

    @include media-q(min, 768) {
      padding: 60px 0;
    }
  }

  &.gray-bg {
    background-color: $white-lilac;
    padding: 40px 0;

    @include media-q(min, 768) {
      padding: 60px 0 110px;
    }
  }

  &.pink-border {
    background: $wild-sand;
    border: 10px solid rgba($hopbush, .5);
    padding: 40px 0;

    @include media-q(min, 768) {
      border-width: 20px;
      padding: 125px 0;
    }
  }

  &.pink-bg {
    background: $hopbush;
    color: $white;
    padding-top: 40px;

    @include media-q(min, 768) {
      overflow: hidden;
      padding: 130px 0 105px;
    }

    .paragraph__title {
      &:after {
        background: $white;
      }
    }
  }

  &.white-box-bg {
    background: $wild-sand;
    padding: 110px 0 90px;

    @include media-q(min, 768) {
      padding: 100px 0;
    }

    .paragraph__layout {
      background-color: $white;
      padding: 50px 25px 35px;

      @include media-q(min, 768) {
        justify-content: space-between;
        padding: 60px 0;
      }
    }

    .paragraph__copy--body,
    .paragraph__slider--wrapper {
      @include media-q(min, 768) {
        @include flex-basis(calc(50% - 10px));
        padding: 0 30px;
      }
    }

    .paragraph__copy--body {
      p {
        display: none;

        @include media-q(min, 768) {
          display: block;
        }
      }
    }
  }

  &.white-bg {
    background: $white;
    padding: 60px 0 40px;

    @include media-q(min, 768) {
      padding: 60px 0;
    }
  }

  &.gradient {
    background-image: radial-gradient(50% 100%, rgba($white, .3) 0%, rgba($white, 0) 100%);
  }

  &__title {
    @include font-size(14);
    letter-spacing: 3px;
    margin-bottom: 20px;
    position: relative;
    text-transform: uppercase;

    &:after {
      background: $butterfly-bush;
      content: '';
      display: block;
      height: 3px;
      margin: 10px auto 0;
      width: 20px;
    }

    @include media-q(min, 768) {
      @include font-size(20);
      letter-spacing: 4.3px;
      margin-bottom: 30px;

      &:after {
        height: 7px;
        margin-top: 20px;
      }
    }
  }
}
