.testimonials {
  margin: 0 auto;
  max-width: 400px;

  @include media-q(min, 768) {
    max-width: 100%;
  }

  &__item {
    margin: 0 20px;
    position: relative;

    @include media-q(min, 768) {
      margin: 0 50px;
      padding-right: 100px;
    }

    @include media-q(min, 991) {
      margin: 0 75px;
    }
  }

  .slick-item {
    position: relative;
  }
}

.big-pic,
.small-pic {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.big-pic {
  margin-right: 47px;

  @include media-q(min, 768) {
    max-width: 50vw;
    margin-right: 0;
  }

  .image-wrapper {
    &:after {
      @include absolute();
      background-color: rgba($black, .15);
      content: '';
    }
  }

  .image-desk {
    display: none;

    @include media-q(min, 768) {
      display: block;
    }
  }

  .image-mob {
    @include media-q(min, 768) {
      display: none;
    }
  }

  .text {
    @include font-size(25);
    background: $white;
    color: $butterfly-bush;
    font-weight: $bold;
    line-height: .9;
    margin: 0 25px;
    position: absolute;
    bottom: 45px;
    left: 0;
    padding: 10px 12px;

    @include media-q(min, 768) {
      bottom: 20px;
      left: 45px;
      margin: 0;
      padding: 14px 30px;
    }

    @include media-q(min, 991) {
      bottom: 50px;
      left: 65px;
    }
  }
}

.small-pic {
  box-shadow: 1px 5px 18px rgba($black, .5);
  margin: -35px 0 20px 40px;

  &:after {
    @include same(38px, height, width);
    @include same(20px, right, top);
    background: url(../img/svg/instagram.svg) center no-repeat;
    content: '';
    position: absolute;
  }

  @include media-q(min, 768) {
    margin: 0;
    max-width: 42%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .image-wrapper {
    background-color: $alto;
    border-radius: 10px;
    height: 100%;
    margin: 0 auto;
    max-width: 360px;
    overflow: hidden;
    position: relative;
  }

  img {
    display: block;
  }

  .text {
    @include font-size(15);
    @include same(0, left, bottom);
    background: $logan;
    color: $white;
    letter-spacing: .66px;
    line-height: 25px;
    padding: 7px 60px 7px 23px;
    position: absolute;
    text-align: left;
    width: 100%;

    &:after {
      background: url(../img/content/ribbon.png) center no-repeat;
      background-size: cover;
      content: '';
      display: block;
      height: 24px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
      width: 35px;
    }
  }
}
