// Placeholders
::-webkit-input-placeholder {
  color: $dusty-gray;
}

::-moz-placeholder {
  color: $dusty-gray;
}

// Firefox 19+
:-moz-placeholder {
  color: $dusty-gray;
}

// Firefox 18-
:-ms-input-placeholder {
  color: $dusty-gray;
}

::selection {
  //background: $selection-color;
}

#user-login,
#user-login-form,
#user-pass {
  background: rgba($lavender-gray, .5);
  box-shadow: 7px 7px 0 rgba($bossanova, .5);
  margin: 0 auto 40px;
  max-width: 620px;
  padding: 30px 40px;
  position: relative;
  z-index: 1;

  .form-item {
    margin-bottom: 30px;
  }

  .form-text {
    border: 2px solid darken($lavender-gray, 5);
  }

  label {
    text-transform: uppercase;
  }

  label,
  .description {
    margin-left: 25px;
  }

  .form-submit {
    background: rgba($bossanova, .8);
    border-radius: 30px;
    color: $white;
    font-family: $fsAlbertExtraBold;
    padding: 20px 40px;
    text-transform: uppercase;

    &:hover {
      background: $bossanova;
    }
  }
}

.form-item {
  label {
    display: inline-block;
    font-weight: $bold;
    letter-spacing: 1px;
    margin-bottom: 5px;
  }

  .form-text {
    margin-bottom: 5px;
  }

  .description {
    @include font-size(14);
  }
}

.form-text {
  &:not(.hasDatepicker):not(.hasMonthpicker) {
    border-radius: 32px;
    color: $dusty-gray;
    font-family: $fsAlbertBold;
    padding: 20px 24px;
    width: 100%;
  }
}

select {
  @include font-size(12);
  background: $white url(../img/general/select-arrow.png) center right no-repeat;
  border: 1px solid $seashell;
  border-radius: 20px;
  box-shadow: 0 1px 5px rgba($black, 0.1);
  color: $bossanova;
  font-family: $fsAlbertBold;
  padding: 12px 35px 12px 15px;
}

.chosen-container {
  width: 100% !important;

  .chosen-choices {
    @extend select;
    background-image: url(../img/general/filter-arrow.png);
    padding: 1px 40px 1px 4px;

    li.search-choice {
      background: $white;
      border: 1px solid $lavender-gray;
      border-radius: 16px;
      padding: 8px 30px 8px 10px;

      .search-choice-close {
        @include same(9px, right, top);
        @include same(11px, height, width);
        background: url(../img/general/chosen-close-icon.png) center top no-repeat;

        &:hover {
          background-position: center bottom;
        }
      }
    }
  }
}

.hasDatepicker,
.hasMonthpicker {
  @extend select;
  background: url(../img/general/calendar_icon.png) right 13px center no-repeat;
  background-size: 16px;
}

.form-radio {
  @extend %element-invisible;

  + label {
    display: block;
    margin-bottom: 13px;
    padding: 1px 0 0 26px;
    position: relative;

    &:before,
    &:after {
      border-radius: 50%;
      content: '';
      position: absolute;
    }

    &:before {
      @include same(18px, height, width);
      background: $white;
      border: 1px solid $seashell;
      box-shadow: 0 1px 2px rgba($black, .2);
      left: 0;
      top: 0;
    }

    &:after {
      @include same(8px, height, width);
      background: transparent;
      left: 5px;
      top: 5px;
      transition: background .3s ease;
    }
  }

  &:hover {
    + label {
      &:after {
        background: $dusty-gray;
      }
    }
  }

  &:checked {
    + label {
      &:after {
        background: $bossanova;
      }
    }
  }
}

.form-actions {
  text-align: center;
}

.form-submit {

}

// Search form
.search-form {
  position: relative;
  text-align: right;

  .form-text {
    &:not(.hasDatepicker):not(.hasMonthpicker) {
      border: 1px solid $seashell;
      box-shadow: 0 6px 20px rgba($black, .1);
      margin-bottom: 10px;
      width: 540px;
    }
  }

  .form-submit {
    @include same(55px, height, width);
    background: $blue url(../img/general/search-icon.png) center no-repeat;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    right: 4px;
    text-indent: -9999px;
    transition: background-color .3s ease;

    &:hover {
      background-color: rgba($blue, .7);
    }
  }
}

.advanced-search {
  @include font-size(14);
  @include links($white, $white);
  background: url(../img/general/search-icon.png) left center no-repeat;
  background-size: 11px;
  margin-right: 33px;
  padding-left: 15px;

  &:hover {
    text-decoration: underline;
  }
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;

  > legend {
    float: left;

    + * {
      clear: both;
    }
  }
}

legend {
  @include font-size(15);
  font-family: $fsAlbertExtraBold;
  margin-bottom: 15px;
  padding: 0;
}

// Search filter
.search {
  .search-form {
    text-align: left;
  }

  .views-exposed-form {
    display: flex;
    flex-wrap: wrap;
  }

  label {
    @include font-size(13);
  }

  .text-search-fieldset {
    @include flex-basis(100%);
    border-top: 1px solid $lavender-gray;
    margin-bottom: 25px;
    padding-top: 30px;

    legend {
      display: none;
    }

    .fieldset-wrapper {
      display: inline-block;
      vertical-align: top;
    }
  }

  .filter-by-fieldset {
    @include flex-basis(50%);

    .fieldset-wrapper {
      display: flex;
    }

    label {
      display: block;
    }

    .form-item {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }

    .form-item-groups {
      max-width: 305px;
      width: 100%;
    }

    .form-item-topics {
      max-width: 275px;
      width: 100%;
    }

    .chosen-choices {
      .search-field {
        .chosen-search-input {
          color: $bossanova;
          font-family: $fsAlbertBold;
          margin: 6px 0;
          max-width: 100%;
          padding-left: 15px;
        }
      }
    }
  }

  .filter-by-fieldset,
  .date-fieldset {
    border-right: 1px solid $lavender-gray;
  }

  .filter-by-fieldset,
  .date-fieldset,
  .status-fieldset {
    margin-bottom: 30px;
    padding: 0 25px;
  }

  .date-fieldset {
    .fieldset-wrapper {
      display: flex;
      flex-wrap: wrap;
    }

    .form-item {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }

    label {
      display: block;
    }

    .form-text {
      color: $dusty-gray;
      max-width: 130px;
    }
  }

  .status-fieldset {
    .fieldset-wrapper {
      display: flex;
      flex-wrap: wrap;

      > div {
        padding-right: 25px;

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }

  .fieldset-wrapper {
    position: relative;
  }

  .sort-group-fieldset {
    @include flex-basis(100%);
    border-top: 1px solid $lavender-gray;
    display: table;
    padding-top: 30px;

    > legend,
    > .fieldset-wrapper {
      display: table-cell
    }

    > legend {
      padding: 13px 16px 0 0;
    }

    .fieldgroup {
      background: $alabaster;
      border: 1px solid $seashell;
      border-radius: 24px;
      padding: 13px 10px 0 13px;

      legend {
        display: none;
      }

      .form-item {
        display: inline-block;
        margin-right: 10px;
        vertical-align: top;
      }
    }
  }

  select {
    min-width: 160px;
  }

  .hasDatepicker,
  .hasMonthpicker {
    margin-bottom: 0;
    min-width: 0;
  }
}

.monthly-digest {
  .search-form {
    border-top: 1px solid $lavender-gray;
    padding-top: 30px;
  }

  .filter-by-fieldset {
    @include flex-basis(100%);
    border: none;
    margin-bottom: 20px;
    padding: 0;

    .fieldset-wrapper {
      align-items: flex-end;
    }
  }

  .form-item-field-groups-target-id {
    max-width: 305px;
    width: 100%;
  }

  .form-submit {
    @include same(auto, height, width);
    background-image: none;
    border-radius: 20px;
    color: $white;
    margin-left: 10px;
    padding: 11px 25px;
    position: static;
    text-indent: 0;
  }
}

// Search results
.search-results {
  .box-list {
    border-bottom: 1px solid $lavender-gray;
    overflow: hidden;
    margin-top: 30px;
  }

  .long {
    .box {
      &:first-child {
        border: none;
        padding-top: 0;
      }
    }
  }
}
