// Placeholders
::-webkit-input-placeholder {
  color: $grey-light;
}

::-moz-placeholder {
  color: $grey-light;
}

// Firefox 19+
:-moz-placeholder {
  color: $grey-light;
}

// Firefox 18-
:-ms-input-placeholder {
  color: $grey-light;
}

::selection {
  //background: $selection-color;
}

#user-login,
#user-login-form,
#user-pass {
  background: rgba($grey-light, .5);
  box-shadow: 7px 7px 0 rgba($grey, .5);
  margin: 0 auto 40px;
  max-width: 620px;
  padding: 30px 40px;
  position: relative;
  z-index: 1;

  .form-item {
    margin-bottom: 30px;
  }

  .form-text {
    border: 2px solid darken($grey-light, 5);
  }

  label {
    text-transform: uppercase;
  }

  label,
  .description {
    margin-left: 25px;
  }

  .form-submit {
    background: rgba($grey-light, .8);
    border-radius: 30px;
    color: $white;
    padding: 20px 40px;
    text-transform: uppercase;

    &:hover {
      background: $grey-light;
    }
  }
}

.form-item {
  label {
    display: inline-block;
    font-weight: $bold;
    letter-spacing: 1px;
    margin-bottom: 5px;
  }

  .form-text {
    margin-bottom: 5px;
  }

  .description {
    @include font-size(14);
  }
}

.form-text {

}

select {
  @include font-size(12);
  background: $white url(../img/general/select-arrow.png) center right no-repeat;
  border: 1px solid $grey-light;
  border-radius: 20px;
  box-shadow: 0 1px 5px rgba($black, 0.1);
  padding: 12px 35px 12px 15px;
}

.chosen-container {
  width: 100% !important;

  .chosen-choices {
    @extend select;
    background-image: url(../img/general/filter-arrow.png);
    padding: 1px 40px 1px 4px;

    li.search-choice {
      background: $white;
      border: 1px solid $grey-light;
      border-radius: 16px;
      padding: 8px 30px 8px 10px;

      .search-choice-close {
        @include same(9px, right, top);
        @include same(11px, height, width);
        background: url(../img/general/chosen-close-icon.png) center top no-repeat;

        &:hover {
          background-position: center bottom;
        }
      }
    }
  }
}

.form-radio {
  @extend %element-invisible;

  + label {
    display: block;
    margin-bottom: 13px;
    padding: 1px 0 0 26px;
    position: relative;

    &:before,
    &:after {
      border-radius: 50%;
      content: '';
      position: absolute;
    }

    &:before {
      @include same(18px, height, width);
      background: $white;
      border: 1px solid $grey;
      box-shadow: 0 1px 2px rgba($black, .2);
      left: 0;
      top: 0;
    }

    &:after {
      @include same(8px, height, width);
      background: transparent;
      left: 5px;
      top: 5px;
      transition: background .3s ease;
    }
  }

  &:hover {
    + label {
      &:after {
        background: $grey;
      }
    }
  }

  &:checked {
    + label {
      &:after {
        background: $grey;
      }
    }
  }
}

.form-actions {
  text-align: center;
}

.form-submit {

}

// Search form
.search-form {

}

// Search results
.search-results {

}
