.c-curve-wrap
  .c-curve-hero
    .c-curve-hero__wrap
      .c-curve-hero__model
        img(src="../img/content/girl.png")

      .c-curve-hero__product
        .c-curve-hero__tagline
          img(src="../img/content/tagline.png").c-curve-hero__tagline-image

        .c-curve-hero__product-image
          img(src="../img/content/product-air-optix.png")

        .c-curve-hero__product-desc
          p Our family of color contact lenses provide
            br
            |stunning choices for naturally beautiful eyes.
