.faq-item(v-for="(item, id) in items")
  .faq-header(v-on:click="item.show = !item.show")
    h2 {{item.title}}

  transition(name="slide" v-on:before-enter="beforeEnter" v-on:enter="enter" v-on:before-leave="beforeLeave" v-on:leave="leave")
    .faq-content(v-if="item.show")
      p {{item.content}}
