.faq-item
  .faq-header
    h2 Quesion 1

  .faq-content
    p consectetur adipisicing elit. Architecto, sequi.
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto

.faq-item
  .faq-header
    h2 Quesion 2

  .faq-content
    p consectetur adipisicing elit. Architecto, sequi.
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto

.faq-item
  .faq-header
    h2 Quesion 3

  .faq-content
    p consectetur adipisicing elit. Architecto, sequi.
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto
