footer#footer
  .section-layout
    .footer-logo
      a(href="#")
        img(src="./img/general/logo.svg")

    nav.footer-nav
      ul.footer-menu
        +navItem("#", 'Privacy policy', 'footer-menu')
        +navItem("#", 'Cookie', 'footer-menu')
        +navItem("#", 'Terms & Conditions', 'footer-menu')
