nav(role='navigation').footer-nav
  ul.footer-menu
    +navItem('#', 'Kontakt', 'footer-menu')
    +navItem('#', 'Impressum', 'footer-menu')
    +navItem('#', 'Pflichtangaben', 'footer-menu')

nav(role='navigation').footer-nav
  ul.footer-menu
    +navItem('#', 'AGB', 'footer-menu')
    +navItem('#', 'Nutzungsbedingungen', 'footer-menu')
    +navItem('#', 'Datenschutz', 'footer-menu')

nav(role='navigation').footer-nav
  ul.footer-menu
    +navItem('#', 'Medizinische Anfragen', 'footer-menu')
    +navItem('#', 'Pfizer Global', 'footer-menu')
    +navItem('#', 'Fur Fachkreise - Pfizermed.de', 'footer-menu')
