footer#footer
  .section-layout
    .footer.footer__top
      .wysiwyg-content
        p
          strong Jeder&nbsp;
          | Tag ist kostbar
        p
         img(src='../img/content/pfizer-logo.png')

    .footer.footer__center
      include ../modules/footer-menu

    .footer.footer__bottom
      .wysiwyg-content.copyright
        p Copyright ©2017 Pfizer Deutschland GmbH. Alle Rechte vorbehalten.
        p Mitglied im Verband der forschenden Pharmaunternehmen und im Verein Freiwillige Selbstkontrolle für die Arzneimittelindustrie e.V.
