footer#footer.c-footer
  .c-footer__content-wrap.o-wrap.o-wrap--max-width-content.o-wrap--padding-side-default
    .c-footer__logo-wrap
      .c-footer__logo.c-logo.c-logo--motif-my-alcon(itemtype="http://schema.org/Organization" itemscope)
        a(href="#" itemprop='url').c-logo__link.consumer
          svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="143px" height="60px" viewBox="0 0 143 60")
            g#Page-1(stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
              g#Group(fill="#fff")
                path(d="M65.3383049,17.0852287 L70.8779462,17.0852287 L80.2772287,39.720565 L73.7611749,39.720565 L72.044583,35.3822691 L63.8622511,35.3822691 L62.2395605,39.720565 L55.8429686,39.720565 L65.3383049,17.0852287 Z M68.010861,24.0352735 L65.5914888,30.5685471 L70.3766906,30.5685471 L68.010861,24.0352735 Z M142.261265,27.462 C142.463596,28.2508789 142.566377,29.0505202 142.566377,29.8385919 L142.566377,39.720565 L136.878484,39.720565 L136.878484,30.9621794 C136.878484,30.5456771 136.843238,30.1418206 136.773552,29.7619103 C136.706018,29.3967982 136.594628,29.0720448 136.443686,28.7978744 C136.299471,28.537426 136.101982,28.3359013 135.840726,28.1822691 C135.581892,28.0307892 135.244224,27.9538386 134.837946,27.9538386 C134.426287,27.9538386 134.063058,28.0332108 133.759022,28.1895336 C133.454717,28.3469327 133.197229,28.5667534 132.995166,28.8428072 C132.785839,29.1272018 132.626825,29.460296 132.522161,29.8334798 C132.414807,30.2131211 132.360457,30.6137489 132.360457,31.0246009 L132.360457,39.720565 L126.672565,39.720565 L126.672565,23.6394888 L132.173193,23.6394888 L132.173193,25.2780538 C132.275435,25.1491749 132.38548,25.0213722 132.503327,24.8949148 C132.821085,24.5553632 133.19965,24.2599372 133.628529,24.0175157 C134.050951,23.7796682 134.515345,23.5829865 135.009336,23.432583 C135.511937,23.2800269 136.052744,23.2025381 136.616691,23.2025381 C137.695614,23.2025381 138.629516,23.4016413 139.392834,23.7941973 C140.153462,24.185139 140.777408,24.6993094 141.247722,25.3224484 C141.714269,25.9410135 142.055166,26.6607444 142.261265,27.462 Z M81.638583,39.7205381 L81.638583,17.0852018 L87.3888969,17.0852018 L87.3888969,39.7205381 L81.638583,39.7205381 Z M114.738484,23.140009 C119.455076,23.140009 123.278664,26.9635964 123.278664,31.6801883 C123.278664,36.3967803 119.455076,40.2203677 114.738484,40.2203677 C110.021892,40.2203677 106.198305,36.3967803 106.198305,31.6801883 C106.198305,26.9635964 110.021892,23.140009 114.738484,23.140009 Z M118.148529,31.6801883 C118.148529,29.7970493 116.621623,28.2701435 114.738484,28.2701435 C112.855076,28.2701435 111.328439,29.7970493 111.328439,31.6801883 C111.328439,33.5635964 112.855076,35.0902332 114.738484,35.0902332 C116.621623,35.0902332 118.148529,33.5635964 118.148529,31.6801883 Z M98.9793901,35.0900987 C100.200915,35.0900987 101.269076,34.445704 101.871498,33.480861 L105.194637,37.5342242 C103.637327,39.1870493 101.429435,40.2202332 98.9793901,40.2202332 C94.2627982,40.2202332 90.4392108,36.3966457 90.4392108,31.6800538 C90.4392108,26.9634619 94.2627982,23.1398744 98.9793901,23.1398744 C101.448538,23.1398744 103.671498,24.1892018 105.23096,25.8643587 L101.826834,29.8063318 C101.216879,28.8815785 100.169973,28.270009 98.9793901,28.270009 C97.0959821,28.270009 95.5693453,29.7969148 95.5693453,31.6800538 C95.5693453,33.5634619 97.0959821,35.0900987 98.9793901,35.0900987 Z")#alcon
                path(d="M51.8734648,9.57088219 L50.0996294,11.2193026 C44.919472,5.64502904 37.693454,2.42152466 29.9493607,2.42152466 C14.7466979,2.42152466 2.42152466,14.7684157 2.42152466,30 C2.42152466,45.2315843 14.7466979,57.5784753 29.9493607,57.5784753 C37.634106,57.5784753 44.8099233,54.4044479 49.9823655,48.905087 L51.7462682,50.5641316 C46.1211525,56.5447767 38.3096098,60 29.9493607,60 C13.4083715,60 -2.84217094e-13,46.5680021 -2.84217094e-13,30 C-2.84217094e-13,13.4319979 13.4083715,0 29.9493607,0 C38.3741585,0 46.2401823,3.50900899 51.8734648,9.57088219 Z M26.1953475,39.955157 L18.5061659,19.8640695 L18.3821469,19.8640695 C18.5268365,21.4556554 18.5991802,23.3469271 18.5991802,25.5379414 L18.5991802,39.955157 L16.1653062,39.955157 L16.1653062,17.290674 L20.1339161,17.290674 L27.3115191,35.9865471 L27.4355381,35.9865471 L34.6751506,17.290674 L38.6127557,17.290674 L38.6127557,39.955157 L35.9773508,39.955157 L35.9773508,25.3519128 C35.9773508,23.6776472 36.0496945,21.8587192 36.1943841,19.8950743 L36.0703651,19.8950743 L28.3191739,39.955157 L26.1953475,39.955157 Z M41.744237,22.964546 L44.503661,22.964546 L48.2242328,32.6535349 C49.0406956,34.8652192 49.5471017,36.4619486 49.7434662,37.443771 L49.8674853,37.443771 C50.0018399,36.9166874 50.2834637,36.0149745 50.7123651,34.7386053 C51.1412665,33.4622361 52.5442181,29.5375889 54.9212619,22.964546 L57.680686,22.964546 L50.3790639,42.3115191 C49.6556158,44.2234891 48.8107444,45.579934 47.8444244,46.3808944 C46.8781044,47.1818548 45.692184,47.582329 44.2866277,47.582329 C43.5011697,47.582329 42.7260583,47.4944831 41.9612703,47.3187885 L41.9612703,45.2569717 C42.5296938,45.3809914 43.1652852,45.4430003 43.8680633,45.4430003 C45.6353438,45.4430003 46.8961916,44.4508577 47.6506446,42.4665429 L48.5962899,40.0481712 L41.744237,22.964546 Z" id="my-logo" transform="translate(28.840343, 30.000000) rotate(-360.000000) translate(-28.840343, -30.000000) ")

    .c-footer__nav-grid.o-grid.o-grid--padding-none.o-grid--gutter-normal
      .c-footer__nav-grid-group.o-grid__group
        .c-footer__nav-grid-item.o-grid__item.o-grid__item--12.o-grid__item--phoneplus-6.o-grid__item--desktop-3
          h4.c-footer__nav-grid-item-heading.o-heading.o-heading--size-4
            a(href="#" itemprop="url").c-footer__nav-grid-item-heading-link
              span.c-main-c-botnav__link-text I am a Patient or Consumer

          nav.c-botnav
            ul.c-botnav__list
              li.c-botnav__list-item.level-1
                a(href="#" itemprop="url").c-botnav__link Contact Lenses & Solutions
              li.c-botnav__list-item.level-1
                a(href="#" itemprop="url").c-botnav__link Eye Care Products
              li.c-botnav__list-item.level-1
                a(href="#" itemprop="url").c-botnav__link Lasik
              li.c-botnav__list-item.level-1
                a(href="#" itemprop="url").c-botnav__link Cataracts

        .c-footer__nav-grid-item.c-footer__nav-grid-item--push-right.o-grid__item.o-grid__item--12.o-grid__item--desktop-3
          h4.c-footer__nav-grid-item-heading.o-heading.o-heading--size-4
            a(href="#" itemprop="url").c-footer__nav-grid-item-heading-link
              span.c-main-c-botnav__link-text My Alcon

          nav.c-botnav
            ul.c-botnav__list
              li.c-botnav__list-item.level-1
                a(href="#" itemprop="url").c-botnav__link Contact us
              li.c-botnav__list-item.level-1
                a(href="#" itemprop="url").c-botnav__link Legal information
              li.c-botnav__list-item.level-1
                a(href="#" itemprop="url").c-botnav__link Privacy policy
              li.c-botnav__list-item.level-1
                a(href="#" itemprop="url").c-botnav__link Alcon.com
              li.c-botnav__list-item.level-1
                a(href="#" itemprop="url").c-botnav__link About cookies

    .c-footer__copyright-wrap © 2020 Alcon 4/19 US-BSV-19-E-0632k

    .c-footer__disclaimer-wrap
      div.c-footer__disclaimer-list * Eye exam may be required before lens trial. Professional fees may apply. One pair of non-corrective DAILIES® COLORS contact lenses or AIR OPTIX® COLORS contact lenses for wear in-office only. Offer available at participating offices.
      div.c-footer__disclaimer-list ** High oxygen transmissible lenses. Dk/t = 138 @ -3.00D. Other factors may impact eye health.
      div.c-footer__disclaimer-list References: 1. Alcon data on file, 2005. 2. Alcon data on file, 2014. 3. Alcon data on file, 2013. 4. Nash WL, Gabriel M. Ex vivo analysis of cholesterol deposition for commercially available silicone hydrogel contact lenses using a fluorometric enzymatic assay. Eye Contact Lens 2014; 40(5):277-282.
      div.c-footer__disclaimer-list Ask your eye care professional for complete wear, care, and safety information.
        img(src="http://myalcon.docksal/sites/myalcon/files/inline-images/my-alcon-rx-only.png")
      div.c-footer__disclaimer-list Important information for AIR OPTIX® COLORS (lotrafilcon B) contact lenses: For daily wear only for near/far-sightedness. Contact lenses, even if worn for cosmetic reasons, are prescription medical devices that must only be worn under the prescription, direction and supervision of an eye care professional. Serious eye health problems may occur as a result of sharing contact lenses. Although rare, serious eye problems can develop while wearing contact lenses. Side effects like discomfort, mild burning or stinging may occur. To help avoid these problems, follow the wear and replacement schedule and the lens care instructions provided by your eye doctor.
      div.c-footer__disclaimer-list Package Insert for
        a(href="#") AIR OPTIX® COLORS (lotrafilcon B) contact lenses
      div.c-footer__disclaimer-list Patient Instruction
        a(href="#") Booklet for AIR OPTIX® COLORS (lotrafilcon B) contact lenses
      div.c-footer__disclaimer-list Important information for DAILIES® COLORS (nelfilcon A) contact lenses: For daily wear, single use.  Contact lenses, even if worn for cosmetic reasons, are prescription medical devices that must only be worn under the prescription, direction and supervision of an eye care professional. Serious eye health problems may occur as a result of sharing contact lenses. Although rare, serious eye problems can develop while wearing contact lenses.
      div.c-footer__disclaimer-list Package Insert for
        a(href="#") DAILIES® COLORS (nelfilcon A) contact lenses
      div.c-footer__disclaimer-list Patient Instruction
        a(href="#") Booklet for DAILIES® COLORS (nelfilcon A) contact lenses
      div.c-footer__disclaimer-list Not all products are approved in every market and approved labeling and instructions may vary by local country.
      div.c-footer__disclaimer-list For market-specific product information, see the locations section of this Web site. See Alcon Privacy Policy and Terms & Conditions for the use of this site.

