footer#footer
  .section-layout
    .footer-logo
      img(src="./img/general/footer-logo.png")

    nav.footer-nav
      ul.footer-menu
        +navItem("#", 'About Us', 'footer-menu')
        +navItem("#", 'Contact', 'footer-menu')
        +navItem("#", 'Terms & Conditions', 'footer-menu')

    nav.footer-nav.social
      ul.footer-menu
        +navItem("#", 'Facebook', 'social-link facebook footer-menu')
        +navItem("#", 'Twitter', 'social-link twitter footer-menu')
        +navItem("#", 'Instagram', 'social-link instagram footer-menu')
