header#header
  .section-layout
    .header.header__top
      .site-logo
        a(href='/')
          img(src='img/general/logo-black.png' class="logo-black")
          img(src='img/general/logo-white.png' class="logo-white")
    .header.header__bottom
      include ../modules/main-menu
