.box.long-box
  .box__image.long-box__image
    a(href="#")
      img(src="./img/content/image1.png")

  .long-box__body
    .share-article

    h2
      a(href="#") Cum sociis natoque penatibus et magnis dis parturient.
    p Quam diu etiam furor iste tuus nos eludet? Quid securi etiam tamquam eu fugiat nulla pariatur. Fabio vel iudice vincam, sunt in culpa qui officia. Plura mihi bona sunt, inclinet, amari petere vellent. Prima luce, cum quibus mons aliud consensu ab eo.

    .post-info Posted: 07/24/18

    ul.tags-list
      +navItem('#', 'Featured', 'active tags-list')
      +navItem('#', 'Clinical', 'tags-list')
      +navItem('#', 'Medical', 'tags-list')
      +navItem('#', 'Safety', 'tags-list')

    .read-more
      a(href="#") Read more
