nav(role='navigation').main-nav
  ul.main-menu
    +navItem('#', 'Orientierung', 'main-menu')
    +navItem('#', 'Information', 'main-menu')
    +navItem('#', 'Emotionen', 'main-menu')
    +navItem('#', 'Yoga', 'main-menu')
    +navItem('#', 'Austausch', 'main-menu')
    +navItem('#', 'Angebote', 'main-menu')
