.node-container
  .section-layout
    .node-title
      h1 Pfizer Sprinkl Training Series. Morbi fringilla convallis sapien, id pulvinar odio volutpat.

    .top-image
      img(src="./img/content/top-image.png")

    .wysiwyg-content
      h2 Pfizer Sprinkl Training Series

      p Non equidem invideo, miror magis posuere velit aliquet. Salutantibus vitae elit libero, a pharetra augue. Etiam habebis sem dicantur magna mollis euismod. Hi omnes lingua, institutis, legibus inter se differunt.
      p Donec sed odio operae, eu vulputate felis rhoncus.
        a(href="#") Salutantibus vitae
        |  elit libero, a pharetra augue. Mercedem aut nummos unde unde extricat, amaras. Non equidem invideo, miror magis posuere velit aliquet. Ut enim ad minim veniam, quis nostrud exercitation. Nec dubitamus multa iter quae et nos invenerat. Fictum, deserunt mollit anim laborum astutumque! Tu quoque, Brute, fili mi, nihil timor populi, nihil! Ullamco laboris nisi ut aliquid ex ea commodi consequat. Quo usque tandem abutere, Catilina, patientia nostra?
      p Salutantibus vitae elit libero, a pharetra augue. Plura mihi bona sunt, inclinet, amari petere vellent. Quisque ut dolor gravida, placerat libero vel, euismod.Sed haec quis possit intrepidus aestimare tellus. Etiam habebis sem dicantur magna mollis euismod. Cum sociis natoque penatibus et magnis dis parturient. Cras mattis iudicium purus sit amet fermentum. Petierunt uti sibi concilium totius Galliae in diem certam indicere.
      p Paullum deliquit, ponderibus modulisque suis ratio utitur. Morbi odio eros, volutpat ut pharetra vitae, lobortis sed nibh. Phasellus laoreet lorem vel dolor tempus vehicula. Magna pars studiorum, prodita quaerimus. Unam incolunt Belgae, aliam Aquitani, tertiam.

      h3 Plura mihi bona sunt, inclinet, amari petere vellent.

      p
        strong Quisque placerat facilisis egestas cillum dolore. Curabitur est gravida et libero vitae dictum. Idque Caesaris facere voluntate liceret: sese habere. At nos hinc posthac, sitientis piros Afros.

      ol
        li Ut enim ad minim veniam, quis nostrud exercitation. Excepteur sint obcaecat cupiditat non proident culpa.
        li Quam temere  in vitiis, legem sancimus haerentia. Etiam habebis sem dicantur magna mollis euismod.
        li Quo usque tandem abutere, Catilina, patientia nostra?
        li Praeterea iter est quasdam res quas ex communi.

      h4 Nihilne te nocturnum praesidium Palati, nihil urbis vigiliae.

      p Morbi odio eros, volutpat ut pharetra vitae, lobortis sed nibh. Unam incolunt Belgae, aliam Aquitani, tertiam. Praeterea iter est quasdam res quas ex communi.

      ul
        li Ut enim ad minim veniam, quis nostrud exercitation. Excepteur sint obcaecat cupiditat non proident culpa.
        li Quam temere  in vitiis, legem sancimus haerentia. Etiam habebis sem dicantur magna mollis euismod.
        li Quo usque tandem abutere, Catilina, patientia nostra?
        li Praeterea iter est quasdam res quas ex communi.

      h5 At nos hinc posthac, sitientis piros Afros.

      p p Morbi odio eros, volutpat ut pharetra vitae, lobortis sed nibh. Unam incolunt Belgae, aliam Aquitani, tertiam.
        a(href="#") Praeterea iter est quasdam res quas ex communi.

    .tags-container
      ul.tags-list
        +navItem('#', 'Clinical', 'tags-list')
        +navItem('#', 'Medical', 'tags-list')
        +navItem('#', 'Safety', 'tags-list')

      span.share-article Share this article
