section.photo-list__container
  .photo-list__content.section-layout
    h1 Alle unsere Beiträge

    ul
      li
        .box
          img(src='img/content/flowers.png')
          .label … denn jeder Tag ist kostbar.
      li
        .box
          .label … denn jeder Tag ist kostbar.
      li
        .box
          img(src='img/content/flowers.png')
          .label … denn jeder Tag ist kostbar.
      li
        .box
          img(src='img/content/flowers.png')
          .label … denn jeder Tag ist kostbar.
      li.double
        .box
          h2 Danke für 200
            br
            | kostbare Inspirationen!
      li
        .box
          img(src='img/content/flowers.png')
          .label … denn jeder Tag ist kostbar.
      li
        .box
          img(src='img/content/flowers.png')
          .label … denn jeder Tag ist kostbar.
      li
        .box
          img(src='img/content/flowers.png')
          .label … denn jeder Tag ist kostbar.
      li
        .box
          img(src='img/content/flowers.png')
          .label … denn jeder Tag ist kostbar.
      li
        .box
          img(src='img/content/flowers.png')
          .label … denn jeder Tag ist kostbar.
      li
        .box
          img(src='img/content/flowers.png')
          .label … denn jeder Tag ist kostbar.
      li
        .box
          img(src='img/content/flowers.png')
          .label … denn jeder Tag ist kostbar.
