.c-product-listing__grid.o-grid.o-grid--justify-content-center.o-grid--gutter-normal
  .c-product-listing__grid-group.o-grid__group
    .c-product-listing__grid-item.o-grid__item.o-grid__item--desktop-4
      .c-product-teaser
        .c-product-teaser__wrapper
          .product__image.c-product-teaser__frame.blue-dark
            a(href="#")
              img(src="../img/content/my-alcon-product-air-optix-colors-n.png")

          .c-product-teaser__header EVERY DAY BEAUTY
          .c-product-teaser__description
            p New DAILIES® COLORS daily disposable contact lenses feature color enhancement and an eye-defining*** outer ring to make eyes appear bigger and brighter.
            p.small-text *** Applies to Mystic Blue, Mystic Hazel and Mystic Gray

    .c-product-listing__grid-item.o-grid__item.o-grid__item--desktop-4
      .c-product-teaser
        .c-product-teaser__wrapper
          .product__image.c-product-teaser__frame.black
            a(href="#")
              img(src="../img/content/my-alcon-product-air-optix-colors-n.png")

          .c-product-teaser__header BEAUTY, COMFORT< BREATHABILITY**
          .c-product-teaser__description
            p Add to your style with AIR OPTIX® COLORS monthly replacement contact lenses, featuring breathable lens materials with SmartShield® Technology2-4 for beautiful, comfortable lens wear.
