section#cn-solutions.c-category-pillar.c-circlenav-section.paragraph-solutions-links(data-anchor-title="Solutions" data-scroll="wheel" data-scroll-add-class="c-circlenav-section--inview" dara-scroll-wheel="c-circlenav c-circlenav--left c-circlenav--1-items c-circlenav--1-active c-circlenav--negative")
  .c-category-pillar__headline.o-heading--size-2.c-cn-heading Solutions for every set of eyes
  ul.c-category-pillar__container
    li.c-category-pillar__item-container
      a.c-category-pillar__item.center_center(href="/" style="background-image: url(http://myalcon.docksal/sites/myalcon/files/2019-04/Contact-Lens-Management-Guide.jpg)")
        .c-category-pillar__item-title CONTACT LENSES & LENS CARE

    li.c-category-pillar__item-container
      a.c-category-pillar__item.center_center(href="/" style="background-image: url(http://myalcon.docksal/sites/myalcon/files/2019-03/lasik.jpg)")
        .c-category-pillar__item-title EYE CARE PRODUCTS

    li.c-category-pillar__item-container
      a.c-category-pillar__item.center_center(href="/" style="background-image: url(http://myalcon.docksal/sites/myalcon/files/2019-04/tools-and-resources.png)")
        .c-category-pillar__item-title LASIK
        video(src="http://myalcon.docksal/sites/myalcon/files/video-thumbnails/2019-04/my-alcon-consumer-hero_2.mov" poster="http://myalcon.docksal/sites/myalcon/files/video-thumbnails/2019-04/tools-and-resources.png" muted autoplay loop).c-category-pillar__background-video

    li.c-category-pillar__item-container
      a.c-category-pillar__item.center_center(href="/" style="background-image: url(http://myalcon.docksal/sites/myalcon/files/2019-04/Contact-Lens-Management-Guide.jpg)")
        .c-category-pillar__item-title CATARACTS
        video(src="http://myalcon.docksal/sites/myalcon/files/video-thumbnails/2019-04/my-alcon-professional-hero_1.mp4" poster="http://myalcon.docksal/sites/myalcon/files/2019-03/lasik.jpg" muted autoplay loop).c-category-pillar__background-video

