section.paragraph.paragraph__testimonials--container
  .paragraph__testimonials--content
    .slider-wrapper.testimonials
      .slick-item
        .testimonials__item
          .big-pic
            .image-wrapper
              img(src="img/content/woman3.png")
            .text Anabelle Friderich

          .small-pic
            .image-wrapper
              img(src="img/content/flowers.png")
            .text … denn jeder Tag ist kostbar.

      .slick-item
        .testimonials__item
          .big-pic
            .image-wrapper
              img(src="img/content/woman3.png")
            .text Anabelle Friderich

          .small-pic
            .image-wrapper
              img(src="img/content/flowers.png")
            .text … denn jeder Tag ist kostbar.

      .slick-item
        .testimonials__item
          .big-pic
            .image-wrapper
              img(src="img/content/woman3.png")
            .text Anabelle Friderich

          .small-pic
            .image-wrapper
              img(src="img/content/flowers.png")
            .text … denn jeder Tag ist kostbar.

      .slick-item
        .testimonials__item
          .big-pic
            .image-wrapper
              img(src="img/content/woman3.png")
            .text Anabelle Friderich

          .small-pic
            .image-wrapper
              img(src="img/content/flowers.png")
            .text … denn jeder Tag ist kostbar.
