section.paragraph.paragraph__testimonials--container
  .paragraph__testimonials--content
    .slider-wrapper.testimonials
      .slick-item
        .testimonials__item
          .big-pic
            .image-wrapper
              .image-desk
                img(src="img/content/woman3.png")
              .image-mob
                img(src="img/content/woman3_m.png")
            .text Anabelle Friderich

          .small-pic
            .image-wrapper
              img(src="img/content/flowers.png")
            .participation-text
              span Lorem ipsum dolor sit amet, consetetur sadipscing
            .text … denn jeder Tag ist kostbar.

      .slick-item
        .testimonials__item
          .big-pic
            .image-wrapper
              .image-desk
                img(src="img/content/woman3.png")
              .image-mob
                img(src="img/content/woman3_m.png")
            .text Anabelle Friderich

          .small-pic
            .image-wrapper
              img(src="img/content/flowers.png")
            .participation-text
              span Lorem ipsum dolor sit amet, consetetur sadipscing
            .text … denn jeder Tag ist kostbar.

      .slick-item
        .testimonials__item
          .big-pic
            .image-wrapper
              .image-desk
                img(src="img/content/woman3.png")
              .image-mob
                img(src="img/content/woman3_m.png")
            .text Anabelle Friderich

          .small-pic
            .image-wrapper
              img(src="img/content/flowers.png")
            .participation-text
              span Lorem ipsum dolor sit amet, consetetur sadipscing
            .text … denn jeder Tag ist kostbar.

      .slick-item
        .testimonials__item
          .big-pic
            .image-wrapper
              .image-desk
                img(src="img/content/woman3.png")
              .image-mob
                img(src="img/content/woman3_m.png")
            .text Anabelle Friderich

          .small-pic
            .image-wrapper
              img(src="img/content/flowers.png")
            .participation-text
              span Lorem ipsum dolor sit
            .text … denn jeder Tag ist kostbar.
