.top-banner__video.section-layout
  .top-banner__video--container
    .responsive-video
      iframe(src="https://www.youtube.com/embed/tgbNymZ7vqY?playlist=tgbNymZ7vqY&loop=1")
    .top-banner__video--content
      .top-banner__video--body
        h2.paragraph__title Aktion lorem ipsum 2018
        h1 … denn jeder Tag ist kostbar
        p Die Zeit nach der Diagnose ist für Sie eine emotionale Achterbahnfahrt. Wir möchten Ihnen einige Services vorstellen, die Ihnen und Ihren Angehörigen helfen, Ihre Krankheit zu verstehen und&nbsp;
          strong jeden Tag als kostbar anzusehen.

  .top-banner__info
    .top-banner__info-content
      p
        strong Eine Initiative von

      .top-banner__info-image
        img(src='img/content/pfizer-logo.png')
