.top-banner.section-layout
  .top-banner__container(style='background-color: #AEA2C4;')
    .top-banner__content
      .top-banner__body
        h2 Unterstützung für Ihren Alltag mit metastasierendem Brustkrebs
        p Die Zeit nach der Diagnose ist für Sie eine emotionale Achterbahnfahrt. Wir möchten Ihnen einige Services vorstellen, die Ihnen und Ihren Angehörigen helfen, Ihre Krankheit zu verstehen und&nbsp;
          strong jeden Tag als kostbar anzusehen.

    .top-banner__image
      img(src='img/content/woman1.png')

  .top-banner__info
    .top-banner__info-content
      p
        strong Eine Initiative von

      .top-banner__info-image
        img(src='img/content/pfizer-logo.png')
