section.baloon-spot-container
  .baloon-spot
    .section-top
      .image-block
        .image-block__desktop(style="background-image: url(../img/content/girl_d.png)")

        .image-block__mobile
          img(src="../img/content/girl_m.png")

      .text-block
        h1 Precise vision
          sup 1
          |, all day comfort
          sup 1
          |, easy handling
          sup 1

        .product-image
          .product-image__desktop
            img(src="../img/content/product.png")

          .product-image__mobile
            img(src="../img/content/product-m.png")

    .section-bottom
      .section-layout
        .image-block.baloon-wrapper
          .baloon-bg
            img(src='../img/content/baloon-bg.png')
          .baloon.animated
            img(src='../img/content/baloon.png')


        .text-block
          .text-block__body
            h2 See What Happens
            p We reckon PRECISION™ contact lenses are little bits of genius. And from small things, big things grow. That's what The Great Big PRECISION™ Try On is all about. People like you, all over the coutry, getting out there and embracing the freedom of life with lenses. We really believe these lenses could change your life. But now, it's over to you. Rock those lenses, get amongst it, and See What Happens.
            p And from small things, big things grow. That's what The Great Big PRECISION™ Try On is all about. People like you, all over the coutry, getting out there and embracing the freedom of life with lenses. We really believe these lenses could change your life. But now.

          div.btn-wrapper
            a.btn(href="#") Sign up now
