section.hero-banner
  .hero-banner__item(style="background-image: url(../img/content/section-bg-1.png)")
    .section-layout
      .hero-body
        h1 You day doesn't stop, neither should your contacts
        p You day doesn't stop, neither should your contacts
        a(href="#").btn Start your 30 days trial

  .hero-banner__item(style="background-image: url(../img/content/section-bg-2.png)")
    .section-layout
      .hero-body.center-text
        h1 You day doesn't stop
        p You day doesn't stop, neither should your contacts
        a(href="#").btn Start your 30 days trial

  .hero-banner__item(style="background-image: url(../img/content/section-bg-2.png)")
    .section-layout
      .hero-body.right-text
        h1 You day doesn't stop, neither should your contacts
        p You day doesn't stop, neither should your contacts
        a(href="#").btn Start your 30 days trial
