section.hero-banner
  .hero-banner__item
    .hero-banner__media(style="background-image: url(../img/content/section-bg-1.png)")
    .section-layout.center-text
      .hero-body
        h1 Try PRECISION1
          sup TM
          |&nbsp;contact lenses free* for 30 days
        p Trying PRECISION1™ contact lenses may seem like a small change. But it can be the start of something big. Start wearing them and soon one thing leads to another. And another. And before you know it, you’re figuratively, metaphorically, and literally (hey, who knows?) grabbing the bull by the horns.
        a(href="#").btn Start your 30 days trial
        p.note *Professional fees apply

  .hero-banner__item
    .hero-banner__media(style="background-image: url(../img/content/section-bg-2.png)")
    .section-layout
      .hero-body
        h1 You day doesn't stop
        p You day doesn't stop, neither should your contacts
        a(href="#").btn Start your 30 days trial
        p.note *Professional fees apply

  .hero-banner__item
    .hero-banner__media(style="background-image: url(../img/content/section-bg-2.png)")
    .section-layout.right-text
      .hero-body
        h1 You day doesn't stop, neither should your contacts
        p You day doesn't stop, neither should your contacts
        a(href="#").btn Start your 30 days trial
        p.note *Professional fees apply
