section.hero-banner
  .section-layout
    .hero-body
      h1 You day doesn't stop, neither should your contacts
      p You day doesn't stop, neither should your contacts
      a(href="#").btn Start your 30 days trial
