.paragraph.paragraph__copy
  .paragraph__copy--content.section-layout
    .paragraph__copy--body
      h2.paragraph__title Paragraph title
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet aperiam, architecto assumenda commodi, eum nesciunt qui ratione recusandae rem repellendus sint sunt velit. At est molestiae nobis temporibus voluptas?
