section.paragraph.paragraph__copy-with-image.horizontal
  .paragraph__copy-with-image--container.section-layout
    .paragraph__copy-with-image--content.paragraph__layout
      .paragraph__copy--body
        h2.paragraph__title Paragraph title
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet aperiam, architecto assumenda commodi, eum nesciunt qui ratione recusandae rem repellendus sint sunt velit. At est molestiae nobis temporibus voluptas?

      .paragraph__image--wrapper
        img(src='img/content/woman1.png')
