section.paragraph.paragraph__copy-with-image.vertical.purple-gradient.one-col
  .paragraph__copy-with-image--container.section-layout
    .paragraph__copy-with-image--content.paragraph__layout
      .paragraph__copy--body
        h3.paragraph__title Aktion lorem ipsum 2018
        h1 Was macht Ihren Tag kostbar?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

      .paragraph__image--wrapper
        img(src='img/content/woman2.png')

        .overlap-box
          .wysiwyg-content
            p Vom&nbsp;
              strong 13.10-15.11&nbsp;
              | kostbare Inspirationen teilen.
            p
              a(class="btn purple" href="#") Jetzt mitmachen
