section.paragraph.paragraph__copy-with-image.horizontal.two-cols.gray-bg
  .paragraph__copy-with-image--container.section-layout
    .paragraph__copy-with-image--content.paragraph__layout
      .paragraph__copy--body
        h2.paragraph__title Service
        h1 Orientierung und Unterstützung für Ihre Patientinnenalltag.
        p Ihre Zeit ist kostbar.
        p &nbsp;
        p
          img(src='img/content/hilfe-fur-mich.png')
        p
          a(class='btn purple' href='#') ihre individuelle hilfe

      .paragraph__image--wrapper
        img(src='img/content/woman1.png')
