section.paragraph.paragraph__copy
  .paragraph__copy--container.section-layout
    .paragraph__copy--content.paragraph__layout
      .paragraph__copy--body
        //h3.paragraph__title Paragraph title
        p
          a(href="#" class="btn purple") Alle Services
