section.product-view.shift-right(style="background-image: url(../img/content/product-1.png")
  .section-layout
    .product-body
      h2 The contact lens that's easy to wear and easy to love
      p Precise vision
        sup 1
        |, all-day comfort
        sup 1
        |, easy handling - we think first time wearers (that's you) will love this lens.

      div
        a(href="#").btn All things PRECISION1
          sup TM

section.product-view.shift-left(style="background-image: url(../img/content/product-2.png")
  .section-layout
    .product-body
      h2 The contact lens that's easy to wear and easy to love
      p Precise vision
        sup 1
        |, all-day comfort
        sup 1
        |, easy handling - we think first time wearers (that's you) will love this lens.

      div
        a(href="#").btn All things PRECISION1
          sup TM

section.product-view(style="background-image: url(../img/content/product-1.png")
  .section-layout
    .product-body
      h2 The contact lens that's easy to wear and easy to love
      p Precise vision
        sup 1
        | , all-day comfort
        sup 1
        | , easy handling - we think first time wearers (that's you) will love this lens.

      div
        a(href="#").btn All things PRECISION1
          sup TM

section.product-view.no-image.shift-right
  .section-layout
    .product-body
      h1 Try PRECISION1
        sup TM
      p Contact lenses to help you get the most out of life. Try PRECISION1™ now- you'll need them for your next adventure.
      div
        a(href="#").btn.btn-transparent Download you trial voucher

section.product-view.no-image.shift-left
  .section-layout
    .product-body
      h1 Try PRECISION1
        sup TM
      p Contact lenses to help you get the most out of life. Try PRECISION1™ now- you'll need them for your next adventure.
      div
        a(href="#").btn.btn-transparent Download you trial voucher

section.product-view.no-image
  .section-layout
    .product-body
      h1 Try PRECISION1
        sup TM
      p Contact lenses to help you get the most out of life. Try PRECISION1™ now- you'll need them for your next adventure.
      div
        a(href="#").btn.btn-transparent Download you trial voucher
