section.quote-slider-section
  .quote-media
    img(src="../img/content/quote-mob.png")
  .quote-slider.slider
    .quote-item
      .quote-body
        .quote-body__text "While judo without spectacles is not an option because you can hardly see anything, judo with spectacles is even more impractical for obvious reasons. Contact lenses turned out to be the perfect solution for me.”
        .quote-body__author Anouk, 18

    .quote-item
      .quote-body
        .quote-body__text "While judo without spectacles is not an option because you can hardly see anything, judo with spectacles is even more impractical for obvious reasons.”
        .quote-body__author Anouk, 18

