section.trial-guide
  .section-layout
    .trial-info
      h2 It's easy to fell free
      p Check off everything on your to-do list and get from a to z with crisp, clear veision. Discover why PRECISION1™ is the #1 go to lens with a few simple steps.

    .step-container
      .step-item.step-1
        .step-content
          .step-image
            img(src="../img/content/how-to-1.png")
            img(src="../img/content/number-1.svg").step-number
          p Find and select an eye care professional near you.

      .step-item.step-2
        .step-content
          .step-image
            img(src="../img/content/how-to-2.png")
            img(src="../img/content/number-2.svg").step-number
          p Download your voucher.

      .step-item.step-3
        .step-content
          .step-image
            img(src="../img/content/how-to-3.png")
            img(src="../img/content/number-3.svg").step-number
          p Redeem to get your free supply.

    div
      a(href="#").btn.btn-white Try PRECISION1
        sup TM
        |&nbsp;on now

    p.note *Professional fees apply
