*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  @include font-size(16);
  background: $wild-sand;
  color: $boulder;
  font-family: $roboto;
  line-height: 1.4;
  min-width: 320px;
  overflow-x: hidden;
  word-break: break-word;
  word-wrap: break-word;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  @include media-q(min, 768) {
    @include font-size(18);
  }
}

.active-menu {
  overflow: hidden;

  &:after {
    @include absolute();
    background: rgba($logan, .4);
    content: '';
    z-index: 1;
  }
}

img {
  height: auto;
  max-width: 100%;
}
