*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  @include font-size(16);
  color: $baltic-sea;
  font-family: $fsAlbertRegular;
  line-height: 1.4;
  min-width: 320px;
  overflow-x: hidden;
  word-break: break-word;
  word-wrap: break-word;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  @include media-q(min, 768) {
    @include font-size(16);
  }
}

.active-menu {
  overflow: hidden;
}

img,
svg {
  height: auto;
  max-width: 100%;
}

iframe {
  max-width: 100%;
}

.responsive-video {
  @extend %responsive-video;
}
