//@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

@font-face {
  font-family: 'Euclid Circular A Bold';
  font-display: auto;
  src: url('../fonts/EuclidCircularA-Bold.eot');
  src: url('../fonts/EuclidCircularA-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/EuclidCircularA-Bold.woff') format('woff'), url('../fonts/EuclidCircularA-Bold.woff2') format('woff2'), url('../fonts/EuclidCircularA-Bold.ttf') format('truetype'), url('../fonts/EuclidCircularA-Bold.svg#EuclidCircularA-Bold') format('svg');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Euclid Circular A Regular';
  font-display: auto;
  src: url('../fonts/EuclidCircularA-Regular.eot');
  src: url('../fonts/EuclidCircularA-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/EuclidCircularA-Regular.woff2') format('woff2'), url('../fonts/EuclidCircularA-Regular.woff') format('woff'), url('../fonts/EuclidCircularA-Regular.ttf') format('truetype'), url('../fonts/EuclidCircularA-Regular.svg#EuclidCircularA-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


