html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.main-wrapper {
  flex: 1 0 auto;

  .ie & {
    overflow: hidden;
  }
}

#footer {
  flex-shrink: 0;
}

.section-layout {
  @include same(auto, margin-left, margin-right);
  @include same(25px, padding-left, padding-right);
  max-width: $content-width + 50px;

  @include media-q(min, 768) {
    @include same($grid-gutter, padding-left, padding-right);
    max-width: $content-width + $grid-gutter * 2;
  }
}

.wysiwyg-content,
.tags-container {
  margin: 0 auto;
  max-width: $content-width / 1.5;
}
