h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $euclid-circular-b;
  color: $purple;
  line-height: 1.1;
  margin: 0;
  margin-bottom: .6em;
}

h1 {
  @include font-size(26);

  @include media-q(min, 768) {
    @include font-size(50);
  }
}

h2 {
  @include font-size(20);

  @include media-q(min, 768) {
    @include font-size(30);
  }
}

h3 {
  @include font-size(18);

  @include media-q(min, 768) {
    @include font-size(24);
  }
}

h4 {
  @include font-size(17);

  @include media-q(min, 768) {
    @include font-size(22);
  }
}

h5,
h6 {
  @include font-size(16);

  @include media-q(min, 768) {
    @include font-size(20);
  }
}

p {
  margin: 0 0 20px;
}

.text-center {
  text-align: center;
}

strong {
  font-family: $euclid-circular-b;
}

// WYSIWYG content styles
.content,
.summary,
.wysiwyg-content,
.cke_editable {
  a {
    @include links(inherit, inherit, true);

    &:hover {
      text-decoration: none;
    }
  }

  ol,
  ul {
    margin: 0 0 20px 12px;
    padding: 0;

    li {
      margin-bottom: 0;
      padding-left: 25px;
      position: relative;
    }

    ol,
    ul {
      margin-top: 20px;
    }
  }

  ol {
    counter-reset: section;

    li {
      &::before {
        counter-increment: section;
        //content: counter(section) '. ';
        content: counter(section);
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }

  ul {
    &:last-child {
      margin-bottom: 0;
    }

    li {
      &::before {
        @include same(6px, height, width);
        background: $black;
        content: ' ';
        position: absolute;
        left: 0;
        top: 8px;
        border-radius: 50%;
      }
    }
  }

  blockquote {
    position: relative;
    padding: 0 30px;
    display: inline-block;
    font-style: italic;
    margin: 20px 0;

    &::before {
      content: '"';
      left: 0;
      top: 0;
    }

    &::after {
      content: '"';
      right: 7px;
      bottom: 0;
    }

    p {
      @include font-size(33);
      line-height: 1.2;
      display: inline;
      margin: 0;
      font-family: inherit;
    }
  }
}

// Table
.tablesaw,
table:not(.ui-datepicker-calendar) {
  border: 0;
  border-collapse: separate;
  margin: 30px 0;
  table-layout: fixed;
  width: 100%;

  @media screen and (max-width: 39.9375em) {
    border-collapse: collapse;
  }

  caption {
    @include font-size(20);
    margin-bottom: 10px;
    text-align: center;
  }

  th,
  td {
    border: 0;
    padding: 20px;

    @media screen and (max-width: 39.9375em) {
      margin-bottom: 2px;
    }
  }

  th {
    background: $grey-dark;
    color: $white;
  }

  td {
    background: $grey-dark;
  }

  tr {
    &:nth-child(even) {
      td {
        background: darken($grey-dark, 5);
      }
    }
  }

  tfoot {
    td {
      background: $grey-dark;
      color: $white;
    }
  }
}

// Responsive tables wrapper
.table-wrapper {
  overflow-x: auto;
  margin-top: 3.1em;
  position: relative;

  background: radial-gradient(farthest-side at 0% 50%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)),
  radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 100% 0;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 10px 100%;
  margin-bottom: 15px;

  @include media-q(min, 768) {
    border: 0;
    background: transparent;
  }

  table {
    //min-width: 728px;
    //margin-top: 0;

    //background: linear-gradient(to right, white 30%, rgba(255, 255, 255, 0)),
    //linear-gradient(to left, white 30%, rgba(255, 255, 255, 0)) 100% 0;
    background-size: 50px 100%;
    background-repeat: no-repeat;
    max-width: none;
    margin-bottom: 0;
    margin-top: 0;
    width: 100% !important;

    @include media-q(min, 768) {
      background: none;
    }
  }
}

hr {
  border: none;
  border-top: 1px solid $grey;
  margin: 30px 0;
}
