@font-face {
  font-family: 'AvenirNext-Regular';
  src: url('../fonts/AvenirNext-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'AvenirNext-Bold';
  src: url('../fonts/AvenirNext-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
