html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.main-wrapper {
  flex: 1 0 auto;
  overflow: hidden;

  .ie & {
    overflow: hidden;
  }

  // Fix for admin menu
  .toolbar-fixed & {
    position: relative;
  }
}

.content-container {
  margin: 0 auto;
  //max-width: $site-width;
}

#footer {
  flex-shrink: 0;
}

.section-layout {
  @include same(auto, margin-left, margin-right);
  @include same(16px, padding-left, padding-right);
  max-width: $content-width + 40px;

  @include media-q(min, 768) {
    @include same($grid-margin, padding-left, padding-right);
    max-width: $content-width + $grid-margin * 2;
  }
}
