footer#footer
  .section-layout
    //.footer-logo
    //  a(href="#")
    //    img(src="./img/general/alcon-logo.svg")
    //
    //nav.footer-nav
    //  ul.footer-menu
    //    +navItem("#", 'Privacy policy', 'footer-menu')
    //    +navItem("#", 'Cookie', 'footer-menu')
    //    +navItem("#", 'Terms & Conditions', 'footer-menu')
    //
    //.footer-bottom
    //  p Reference: 1. A prospective, randomized, double-masked, parallel-group clinical trial at six sites with 105 patients; Alcon data on file, 2018.
    //    br
    //    | © 2019 Alcon Laboratories (Australia) Pty Ltd: 1800 224 153, New Zealand: c\o PharmaCo, Auckland, NZ: 0800 101 106 NP4 Number: XXXXXXX
