.hamburger-btn
  .icon
  .label Menu

nav(role='navigation').main-nav
  ul.main-menu
    +navItem('/', 'SMART Hub', 'is-active main-menu')
    +navItem('/', 'Therapy Areas', 'main-menu')
    +navItem('/', 'Stock Hub', 'main-menu')
    +navItem('/', 'Training', 'main-menu')
    +navItem('/', 'Ask Pfizer +', 'main-menu')
