.search-form
  form(action="#")
    .form-item
      input(type="text" placeholder="Enter your keywords").form-text

    .form-actions
      input(type="submit" value="Search").form-submit

  a.advanced-search(href="#") Advanced search
