table
  thead
    tr
      th Head item 1
      th Head item 2
      th Head item 3
  tbody
    tr
      td Body item 1
      td Body item 2
      td Body item 3
    tr
      td Body item 1
      td Body item 2
      td Body item 3
    tr
      td Body item 1
      td Body item 2
      td Body item 3
    tr
      td Body item 1
      td Body item 2
      td Body item 3
  tfoot
    tr
      td Foot item 1
      td Foot item 2
      td Foot item 3
