//.cart
.cart__content
  a(href='/' + projectUrl + '/brand-page.html').cart__link
  .cart__body
    h2.generic-name ${ card.attributes.title }

    h4.brand-name (${ card.attributes.generic_name })

    .updates
      a(href="#") Stock update available

    ul.products
      li.products__item(v-for="(product, index) of card.attributes.products" :class="'status--' + product.stock.stock_croydon") ${ product.description }
