.cart
  .cart__bg(style="background-image: url(../img/content/" + bgImage + ".png)")
  .cart__content
    .cart__image
      img(src="./img/content/" + avatar + ".png")

    .cart__body
      h2 #{title}
