.cart
  .cart__content
    a(href='/' + projectUrl + '/brand-page.html').cart__link
    .cart__body
      //h2.generic-name #{title}
      h2.generic-name Acliyxion

      h4.brand-name (aquoaltine®)

      .updates
        a(href="#") Stock update available

      ul.products
        li.products__item.status--in 40mg
        li.products__item.status--low 80mg
        li.products__item.status--out 90mg
