.hamburger-btn
  .icon
  .label Menu

nav(role='navigation').main-nav
  ul.main-menu
    +navItem('/front.html', 'SMART Hub', 'is-active main-menu')
    +navItem('/front.html', 'Therapy Areas', 'main-menu')
    +navItem('/stock-checker.html', 'Stock Hub', 'main-menu')
    +navItem('/front.html', 'Training', 'main-menu')
    +navItem('/front.html', 'Ask Pfizer +', 'main-menu')
