.cart.notify
  .cart__content
    .cart__body
      .bell-icon

      time(datetime="2019-06-27") June 27, 2019

      .updated Updated 6 hours ago

      h2 ALTORONOL (Altrpreend®) is back in stock.

      p You asked to be notified when ALTORONOL (Altrpreend®) was in stock and available to order again

      .btn-wrapper
        a(href="#") View Product Stock Info
