.search-form
  form(action="#")
    .form-item
      input(type="text" placeholder="Search Stock Status").form-text

    include ../modules/atoz

    .cart-filter
      .form-radios
        .form-item
          input(type="radio" name="name").form-radio#generic-name
          label(for="generic-name") Generic Name

        .form-item
          input(type="radio" name="name").form-radio#brand-name
          label(for="brand-name") Brand Name

      .status
        .status__item.all.active View All
        .status__item.in In
        .status__item.low Low
        .status__item.out Out
        .status__item.evergency Emergency
