.search-form
  form(action="#")
    .form-item
      input(type="text" placeholder="Search Stock Status").form-text

    include ../modules/atoz

    .cart-filter
      .form-radios
        .form-item
          input(type="radio" name="name" checked).form-radio#generic-name
          label(for="generic-name") Generic Name

        .form-item
          input(type="radio" name="name").form-radio#brand-name
          label(for="brand-name") Brand Name

      .status
        .status__item.all.active
          span View All
        .status__item.in
          span In
        .status__item.low
          span Low
        .status__item.out
          span Out
        .status__item.emergency
          span Emergency
